*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  width:100%;
}

.login-container{
  height:100vh;
  width:100%;
  /* background-color:red; */
  display:flex;
  flex-direction:column;
}

.login-header{
  height:10vh;
  width:100%;
  /* background-color:blue; */
  /* background-color:green; */
 box-shadow: 0px 0px 10px 0px black;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom: 0.5px solid rgb(205, 205, 205);
}

.login-header-about{
  height:8vh;
  width:45%;
  /* background-color:pink; */
  font-size:1.3rem;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding-left:10px;
}

.login-header-medregia{
  height:8vh;
  width:55%;
  /* background-color:green; */
  font-size:1.8rem;
  display:flex;
  justify-content:flex-start;
  align-items:center;
}

.login-header-about a,
.login-header-medregia a{
  text-decoration:none;
  /* color:#FFFF; */
}

.login-container-body{
  height:90vh;
  width:100%;
  background-color:#FFFF;
  display:flex;
  justify-content:space-evenly;
}

.container-body-messages{
  height:90vh;
  width:70%;
  /* background-color:rgba(223, 223, 223, 0.4); */
  display:flex;
  row-gap:5px;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.messages-mission,
.messages-vision{
  min-height:100px;
  width:99%;
  box-shadow:0px 0px 10px 0px black;
  /* background-color:yellow; */
  background-color: transparent;
  transition:all 1s ease;
  border-radius:4px;
  cursor:pointer;
  
}

.messages-mission:hover,
.messages-vision:hover{
  box-shadow:5px 2px 10px 2px black;
  transform:translateY(-2px)
}

.messages-mission p,
.messages-vision p{
  text-align:justify;
  padding:5px;
  padding-left:10px;
  text-indent:30px;
  /* background-color: rgba(0, 0, 78,0.4); */
}

.messages-mission h3,
.messages-vision h3{
  text-decoration:underline;
  color: rgb(0, 0, 67);
  padding:5px;
}

.container-body-login{
  height:90vh;
  width:30%;
  /* background-color:red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-body-container{
  height: 70vh;
  width: 90%;
  /* background-color: blue; */
  box-shadow: 0px 0px 10px 0px black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */

}

.login-body-header{
  height: 10vh;
  width: 100%;
  /* background-color: grey; */
  /* background-color: #FFFF; */
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  /* border-radius: 6px; */
}

.login-body-header h3{
  height:8vh;
  width: 65%;
  /* background-color: yellow; */
  display:flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.4rem;
  padding-right: 5px;
}

.login-body-header .phone{
  height:8vh;
  width: 35%;
  /* background-color: green; */
  display:flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  padding-right: 7px;
}

.login-body-header .phone a{
  height: 7vh;
  width:45px;
  background-color: rgba(214, 214, 214,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.7s ease;
}

.login-body-header .phone a:hover{
  background-color: rgb(193, 187, 187)
}

.body-container-login{
  height: 50vh;
  width: 100%;
  /* background-color: grey; */
}

.body-container-login form{
  height: 50vh;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  justify-content: space-evenly;

  flex-direction: column;
}

.login-username,
.login-password,
.login-buttons{
  height: 16vh;
  width: 100%;
  /* background-color: aqua; */
}

.login-username,
.login-password{
  display: flex;
  justify-content: center;
  row-gap: 5px;
  flex-direction: column;
  padding-left: 5px;
}

.login-username input,
.login-password input{
  height: 40px;
  width: 90%;
  padding-left: 10px;
  border:none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.login-username input:active,
.login-password input:active{
  padding-left: 10px;
}

.login-buttons{
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  align-items: center;
  row-gap: 5px;
}

.login-btn,
.signup-btn{
  height: 60px;
  width:30%;
  /* background-color: green; */
  display: flex; 
  justify-content: center;
  align-items: center;
}

.login-btn button,
.signup-btn button{
  height: 40px;
  width: 100px;
  background-color: blue;
  color: #FFFF;
  border: none;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
}

.bottom-field{
  height: 10vh;
  width: 100%;
  /* background-color: orangered; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.bottom-field a{
  text-decoration: none;
  color: blue;
}

.message {
  height: 100px;
  width: 90%;
  background-color: aqua;
  position: absolute;
  top: 5px;
}

.hide {
  display: none;
}
