
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    font-family: 'Times New Roman';
    overflow: hidden;
}

.profile-container{
    min-height: 100vh;
    width: 100%;
    /* background-color: blue; */
}

.profile-container .profile-heading{
    height: 5vh;
    width: 100%;
    border-bottom: 1px solid black;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container .profile-heading h3{
    font-size: 25px;
}

.profile-container .profile-main{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aquamarine; */
}

.profile-container .profile-main .profile-left-full{
  height: 80h;
  width: 50%;
  border-right: 1px solid black;
  /* background-color: red; */
}

.profile-container .profile-main .profile-right-full{
  height: 80vh;
  width: 50%;
  /* background-color: blue; */
}

.profile-container .profile-main .profile-left-full .profile-main-left{
  height: 80vh;
  width: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profile-left-full .profile-main-left .profile-main-left-top{
  height: 35vh;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  /* gap: 2px; */
  align-items: space-around;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.profile-main-left .profile-main-left-top .left-top-containers{
  height: 10vh;
  width: 45%;
  /* background-color: #0a032b; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left-medical-name,
.left-drug-1,
.left-drug-2{
  border-right: 1px solid black;
}

.profile-main-left .profile-main-left-top .left-top-containers input{
  height: 40px;
  width: 95%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.profile-left-full .profile-main-left .profile-main-left-bottom{
  height: 46vh;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  /* gap: 2px; */
  /* align-items: space-around;*/
  justify-content: space-evenly; 
}

.profile-main-left .profile-main-left-bottom .left-bottom-heading{
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFF;
  border-top: 1px solid black;
  background-color: rgb(8, 3, 63);
}

.profile-main-left .profile-main-left-bottom .profile-left-bottom-main{
  height: 40vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
  /* background-color: pink; */
}

.profile-main-left-bottom .profile-left-bottom-main .left-bottom-containers{
  height: 8vh;
  width: 45%;
  /* background-color: #0a032b; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-left-bottom-main .left-bottom-containers input{
  height: 40px;
  width: 95%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.left-bottom-state,
.left-bottom-city,
.left-bottom-street{
  border-right: 1px solid black;
}

.profile-left-bottom-main .left-bottom-unique-id{
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #9192FF; */
  column-gap: 10px;
}

.profile-left-bottom-main .left-bottom-unique-id input{
  height: 40px;
  width: 36%;
  padding: 2px;
}

.profile-left-bottom-main .left-bottom-unique-id span{
  height: 22px;
  width: 5%;
  background-color: green;
  border-radius: 5px;
}
.profile-right-full .profile-main-right-top{
  height: 20vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* gap: 2px; */
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  /* background-color: red; */
}

.profile-right-pharmacist{
  border-right: 1px solid black;
}

.profile-main-right-top .right-top-containers{
  height: 10vh;
  width: 45%;
  /* background-color: #0a032b; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}

.profile-main-right-top .right-top-containers input{
  height: 40px;
  width: 95%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.profile-right-bottom{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: #FFE27D; */
}

.profile-right-bottom .profile-admin-details{
  height: 45vh;
  width: 50%;
  border-right: 1px solid black;
  /* background-color: red; */
}

.profile-right-bottom .profile-admin-details .profile-admin-header{
  height: 5vh;
  width: 100%;
  background-color: rgb(8, 3, 63);  
  color: #FFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-right-bottom .profile-admin-details .profile-admin-main{
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  /* background-color: red; */
}

.profile-right-bottom .profile-current-user{
  height: 45vh;
  width: 50%;
  /* background-color: #64E3FF; */
}
  
.containers{
  height: 18vh;
  width: 100%;
  /* background-color: #0a032b; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  padding: 10px;
}

.containers input{
  height: 40px;
  width: 95%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  /* padding-left: 40px; */
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.profile-current-user .current-user-header{
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(8, 3, 63);
  color: #FFFF;
}


.profile-current-user .current-user-main-content{
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: orange; */
  padding: 10px;
}

.profile-current-user .bottom-containers{
  height: 10vh;
  width: 100%;
  /* display: flex; */
  /* column-gap: 5px; */
}

.profile-current-user .bottom-containers input{
  height: 40px;
  width: 90%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.makeus-admin{
  min-height: 15vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: orangered; */
  border-top: 1px solid black;
}
.makeus-admin form{
  height: 12vh;
  width: 70%;
  /* background-color: #0a032b; */
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  justify-content: space-around;
  /* align-items: center; */
}
.makeus-admin .makeus-admin-container input{
  height: 40px;
  width: 60%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}
.profile_btn {
  animation: 1.5s ease infinite alternate running shimmer;
  background: linear-gradient(90deg, #FFE27D 0%, #64E3FF 30%, #9192FF 85%);
  background-size: 200% 100%;
  border: none;
  border-radius: 6px;
  box-shadow: -2px -2px 10px rgba(255, 227, 126, 0.5), 2px 2px 10px rgba(144, 148, 255, 0.5);
  color: #170F1E;
  cursor: pointer;
  font-size: 16px;
  font-weight: 670;
  line-height: 18x;
  overflow: hidden;
  padding: 12px 24px;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
  /* position: absolute; */
 
  svg {
      left: -20px;
      opacity: 0.5;
      position: absolute;
      top: -2px;
      transition: 0.5s cubic-bezier(.5, -0.5, .5, 1.5);
  }

  &:hover svg {
      opacity: 0.8;
      transform: translateX(50px) scale(1.5);
  }

  &:hover {
      transform: rotate(-3deg);
  }

  &:active {
      transform: scale(0.95) rotate(-3deg);
  }

}

@keyframes shimmer {
  to {
      background-size: 100% 100%;
      box-shadow: -2px -2px 6px rgba(255, 227, 126, 0.5), 2px 2px 6px rgba(144, 148, 255, 0.5);
  }
}

/* PAPER */
.button-paper {
  height: 40px;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 18px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
} 

.button-paper:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-paper:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* Notification bar Styles */
.admin-request{
    height:50px;
    width:90%;
  }
  .admin-request p{
    /* color: red; */
    text-align: center;
    font-size: medium;
  }
  .admin-request h4{
    margin-top: 10px;
  }
  .notifications h5{
    color: red;
    font-weight: bold;
    margin-top: 60px;
  }
  .notifications{
    height: 200px;
    width: 350px;
    max-width: 40%;
    background: #0a032b;
    border-radius: 16px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.27);
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-flow: column;
    color:#FFFF;
    padding: 10px;
    margin: 5px 0px 0px 79%;
    border-radius: 10px;
    user-select: none;
    position: absolute;
    right: 200px;
    z-index: 999;
  }
  
  .admin-request form input{
    width: 50px;
    margin-left: 20px; 
    /* margin-bottom: 5px; */
    background-color: blue; 
    color: white;
    border: 1px solid white;
  }
  .admin-request form .confirm{
  /* color: red; */
  margin-left: 20px;
  }
  .admin-request form{
    height: 30px;
    width: 100%;
    margin-top: 5px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
  }

  .btn_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Button Styles */
.submit_btn {

    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid green;
    color: green;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

.submit_btn:hover {
    color: white;
    background: green;
}

.submit_btn:active {
    letter-spacing: 2px;
}

.submit_btn:after {
    content: "SUBMIT";
}

/* Onclic Styles */
.onclic {
    width: 40px;
    border-color: gray;
    border-width: 3px;
    font-size: 0;
    border-left-color: green;
    animation: rotating 2s 0.25s linear infinite;
}

.onclic:hover {
    color: green;
    background: white;
}

/* Validate Styles */
.validate {
    font-size: 13px;
    color: white;
    background: green;
    /* Using variable */
}

.validate:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

/* Keyframe Animation */
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* state and district dropdown */
.select2-results__options {
    display: flex;
    flex-direction: column;
}
.select2-container--open .select2-dropdown .select2-results__options {
    width: 100%;
    height: 200px;
    text-align: center;
    overflow-y: auto;  
  }

  .profile-data{
    width:92%;
    border-bottom:1px solid black;
    padding-left:5px;
    /* display:flex;
    align-items:center;
    background-color:green; */
  }

  .collobarate-message{
    min-height:40px;
    display: flex;
    justify-content: space-around;
    width: 70%;
    /* background-color:green; */
    color:red;
  }

  .collobarate-message button{
    height:20px;
    width:50px;
    border:none;
    border-radius:2px;
    background-color:Blue;
    color:#FFF;
    cursor:pointer;
  }
.profile-message{
  height: 40px;
  width: 17%;
  background-color: #04aa6d;
  color: #ffff;
  position: absolute;
  top: 1%;
  left: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  z-index:999;
}

.close-button {
  font-size: 20px;
  padding:10px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor:pointer;
}

span ul.errorlist li{
  color:red;
  font-size:14px;
}

  @media (min-width: 820px) and (max-width: 997px){
    .select2-container--default .select2-selection--single{
      width:80%;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow{
      display:none;
    }
  }
  @media (min-width: 710px) and (max-width: 819px){
    .select2-container--default .select2-selection--single{
      width:70%;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow{
      display:none;
    }

    .profile-left-bottom-main .left-bottom-unique-id input{
      width:250px;
    }

    .profile-left-bottom-main .left-bottom-unique-id {
      flex-wrap:wrap;
    }

    .profile-left-bottom-main .left-bottom-unique-id span{
      width:30px
    }
  }