/* sidebar */
*{
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: rgb(15, 17, 17);
  color: hsl(0, 97%, 42%);
  height: 0px;
}

#sidebar h3{
  /* background-color: red; */
  top: 10px;
  padding: 15px;
  font-size: 15px;
  display: none;
  align-items: center;
  margin-left: 20px;
  border-bottom: 1px solid #fff;

}

.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  /* margin: 50px 0 0 10px; */
  top: 15px;
  margin: 34px;
}

/* .logo img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  align-items: center;
  margin-left: -17px;
} */

/* .export img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  align-items: center;
  margin-left: -53px;
}


.logo span {
  /* font-weight: bold; *
  padding-left: 15px;
  font-size: 20px;
  
} */


/* a.export {
  position: relative;
  color: black;
  font-size: 20px;
  width: 100%; 
  margin-left: 70px;
} */
p{
  font-weight: bold;
}
.nav-item{
  color: black;
  /* font-weight: 600; */
  font-size: 14px;
  margin-left: 16px;
  /* margin-bottom: 10px; */
  
}
.expo{
  /* background-color: aqua; */
  width: 80%;
  font-size: 16px;
}
.sidebar .sidebar-closed a{
  position: relative;
  /* color: black; */
  font-size: 20px;
  display: block;
  /* width: 100%; */
}
a i{
  color: rgb(39, 38, 38);
  margin-left: -14px;
  font-size: 18px;
  /* background-color: aqua; */


}
.sidebar {
  width: 155px;
  height: 100vh;
  /* margin-left: -10px; */
  /* background-color: #033b4a; */
  background-color:rgb(238, 243, 245);
  color:black;
  overflow-x: hidden;
  transition:0.3s;
  position: fixed;
  top: 50px;
  z-index: 100;
}

/* span.nav-item{
  /* background-color: red; *
  font-size: 15px;
  margin-left: -5px;
} */
.toggle-btn {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color:black;
}

.arrow {
  font-size: 20px;
}

.sidebar-closed {
  width: 50px;
}

.sidebar-closed .arrow {
  transform: rotate(180deg);
} 

#notification-icon{
  cursor: pointer;
}

.notification-popup {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.notification-popup.show {
  transform: translateX(0);
  opacity: 1;
}

.popup-content {
  padding: 20px;  
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

#popup-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#popup-backdrop.show {
  display: block;
  opacity: 1;
}

.blurred-background {
  filter: blur(5px);
}

.view-all-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.view-all-btn:hover {
  background-color: #0056b3;
}
.notification-head{
  height: 60px;
  font-family: sans-serif;
}
.notification-head h3{
  padding: 4px;
  width: 100%;
  border-bottom: 1px solid grey;
}
.notification-scrollcontent{
  height: 80vh;
  max-width: 85vh;
  overflow-y: hidden;
  padding: 5px;
  /* background-color: red; */
}
.notification-scrollcontent:hover{
  overflow-y: scroll;

}

.collaborate-message{
  height: 50px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border-bottom: 1px solid rgba(0, 0, 0,0.6);
}
.view-btn{
  height: 50px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span.notify-alert{
  display:inline-block;
  height:10px;
  width:10px;
  border-radius:50%;
  background-color:red;
  position:absolute;
  top:2px;
  right:2px;
}

.admin-message-header{
  border-bottom: 1px solid black;
}

@media (min-width: 320px) and (max-width: 420px){
  .sidebar-closed .arrow {
    display:none
  }
}