{% extends 'base.html' %}

{% load static %}

{% block title %} MedregiA || General Access {% endblock title %}

{% block nav_footer %}{% static 'invclc/css/nav.css' %} {% endblock nav_footer %}
{% block link2 %}{% static 'invclc/css/admin_acess.css' %} {% endblock link2 %}
{% block side %}{% static 'invclc/css/static_sidebar.css' %}{% endblock side %}

{% block navbar %}
{% include 'nav.html' %}
{% endblock navbar %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<style>
    .icon {
        cursor: pointer;
    }
    .disabled {
        cursor: not-allowed;
    }
</style>

    <main class="admin-main-container"> 
        
        <div class="admin-container">
            <h2>General Access</h2>
            <table class="table-content">
                <thead>
                    <tr>
                        <th rowspan="2">S No.</th>
                        <th rowspan="2">Name</th>
                        <th colspan="2">DL Number</th>
                        <th rowspan="2">Admin Name</th>
                        <th rowspan="2">Temp Number</th>
                        <th rowspan="2">Unique Number</th>
                        <th rowspan="2">Generate Link</th>
                        <th rowspan="2">Status</th>
                    </tr>
                    <tr>
                        <th>DL Number1</th>
                        <th>DL Number2</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in table_data %}
                    <tr>
                        <td>{{ row.s_no }}</td>
                        <td><div class="input-container"><input type="text" value="{{ row.name }}" disabled></div></td>
                        <td>
                            <div class="input-container">
                                <input type="text" value="{{ row.dl_number1 }}" disabled>
                                {% if not row.dl_number1 %}
                                    <span class="icon edit-icon" data-type="dl_number1">&#9998;</span>
                                {% else %}
                                    <span class="icon correct-icon" data-type="dl_number1">&#10003;</span>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <input type="text" value="{{ row.dl_number2 }}" disabled>
                                {% if not row.dl_number2 %}
                                    <span class="icon edit-icon" data-type="dl_number2">&#9998;</span>
                                {% else %}
                                    <span class="icon correct-icon" data-type="dl_number2">&#10003;</span>
                                {% endif %}
                            </div>
                        </td>
                        <td><div class="input-container"><input type="text" value="{{ row.admin_name }}" disabled></div></td>
                        <td><div class="input-container"><input type="text" value="{{ row.temp_no }}" disabled></div></td>
                        <td><div class="input-container"><input type="text" value="{{ row.unique_no }}" disabled></div></td>
                        {% if row.generate_link %}
                            <td><span class="icon disabled button-invite" style="color:red;font-size:24px;">&#215;</span><button type="button" class="inviteUser link-btn">Invite</button></td>
                        {% else %}
                            <td><span class="icon button-invite" style="color:green;font-size:24px;">&#10003;<button type="button" class="inviteUser link-btn">Invite</button></td>
                        {% endif %}
                        <td><div class="input-container"><input type="text" value="{{ row.status }}" disabled></div></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            
        <aside class="admin-access">
            <h2>Admin Access</h2>
            <div class="form-group">
                <label for="adminUser">Admin User</label>
                <input type="text" id="adminUser" name="adminUser" value="{{user_username}}" disabled>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" id="phoneNumber" name="phoneNumber" value={{user_phone}} disabled>
            </div>
            {% comment %} <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="pin">Pin</label>
                <input type="text" id="pin" name="pin">
            </div> {% endcomment %}

            <h2>Current User Access </h2>

            <div class="current-user-pass">
                <div class="form-group">
                    <a href="{% url 'password_change' %}"><button type="button">Change Password</button></a>    
                </div>
                <div class="form-group">
                    <a href="{% url 'change_pin' %}"><button type="button">Change Pin</button></a>
                </div>
            </div>

            <div class="users">
                <h2>Users</h2>
                <div class="users_table"> 
                    <table>
                        <thead>
                            <tr>
                                <th>Users Name</th>
                                <th>Position</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if user_username and admin_position %}
                                <tr>
                                    <td>{{user_username}}</td>
                                    <td>{{admin_position}}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{request.user}}</td>
                                    <td>Admin</td>
                                </tr>
                            {% endif %}
                            {% if colaborator %}
                                {% for colaborators in colaborator %}
                                <tr>
                                    <td>{{ colaborators.receiver }}</td>
                                    <td>{{ colaborators.position }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            
            {% if checked_username == currentUser %}
            
            {% else %}
            <div class="add-user">
                <form method="post" action="#" id="add_userForm">
                    {% csrf_token %}
                    <h2> Add User </h2>
                    <div class="alert-message" style="display: inline-block; text-align: center;">
                        
                    </div>
                    <div class="Details">
                        <div class="Details-data">
                            <label for="id_name">Name:</label>
                            <input type="text" id="id_addname" name="add_name" class="input-field">
                        </div>
                        <div class="Details-data">
                            <label for="id_email">Email:</label>
                            <input type="email" id="id_addemail" name="add_email" class="input-field" value="@gmail.com">
                        </div>
                        <div class="Details-data">
                            <label for="id_phone">Phone:</label>
                            <input type="tel" id="id_addphone" name="add_number" class="input-field">
                        </div>
                        <div class="Details-data">
                            <label for="id_position">Position:</label>
                            <select id="id_addposition" name="add_position" class="input-field">
                                <option value="Admin">Admin</option>
                                <option value="Senior">Senior</option>
                                <option value="Member">Member</option>
                            </select>
                        </div>

                        <div class="Details-data">
                            <label for="id_Whatsapp_link">Whatsapp link</label>
                            <input type="text" id="id_Whatsapp_link"  placeholder="Whatsapp link" class="input-field">
                            <button type="button" id="copy_button" class="button">&#x1F4CB</button>
                        </div>
                        <button type="button" id="add_btn" class="button">Add</button>
                    </div>
                </form>
            </div>    
            {% endif %}
        </aside>
        
    </main>    

    <script src="{% static 'invclc/js/admin_access_sidbar.js' %}"></script>
    <script src="{% static 'invclc/js/admin_access.js' %}"></script>

{% endblock %}