{% extends 'base.html' %} 
{% load custom_filters %}
{% load static %} 

{% block title %} MedRegiA || Check {{user_title}} {% endblock title %} 

{% block nav_footer %}{% static 'nav_footer.css' %} {%endblock nav_footer %} 

{% block link %}{% static 'invclc/css/check.css' %} {%endblock link %}

{% block side %}{% static 'invclc/css/static_sidebar.css' %}{% endblock side %}


{% block navbar %} 
    {% include 'nav.html' %} 
{% endblock navbar%} 

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}

{% comment %} <div class="check-container-btn"><button type="button" class="csvBtn">Print CSV</button></div> {% endcomment %}

{% comment %} 
<td class="pharmacystatus">
   {% if data.pharmacy_name %}
       {{ data.pharmacy_name|convert_medical }}<span class="loginstatus"></span>
   {% else %}
       Not Found
   {% endif %}
</td> {% endcomment %}
{% block content %}
{% for invoice in invoices %}
  <div class="main-container">
    <div class="main-header">
      <h2 class="heading">{{invoice.pharmacy_name}}</h2>
    </div>
    <div class="main-body">
      <div class="main-body-left">
        <h4>Invoice Number : {{invoice.invoice_number}} </h4>
        <h4>Invoice Date : {{invoice.invoice_date}}</h4>
      </div>

      <div class="main-body-center">
        <h4>Invoice Amount</h4>
        <h4>{{invoice.invoice_amount}}</h4>
      </div>

      <div class="main-body-right">
        <h4>Updated Date : {{invoice.today_date}}</h4>
        <div class="status">
          <h4>{{store}}</h4>
          {% if invoice.pharmacy_name %}
              {{ invoice.pharmacy_name|convert_medical }}<span class="loginstatus"></span>
          {% else %}
              Not Found
          {% endif %}
        </div>
      </div>
    </div>

    <div class="main-bottom">
      <table>
        <thead>
          <tr>
            <th>Paid Date</th>
            <th>Paid Details</th>
          </tr>
        </thead>
        <tbody>
          {% for tracking_invoice in tracking_invoices %}
          {% if tracking_invoice.Bill_no == invoice.invoice_number %}
          <tr>
            <td>{{ tracking_invoice.payment_date }}</td>
            <td>{{ tracking_invoice.paying_amount }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>      
    </div>

    <div class="main-footer">
      <h4 class="full-paid">Status : Full Paid</h4>
      <button type="button" onclick = "window.print()">Print/pdf</button>
    </div>
</div>
{% endfor %}
<script src="{% static 'invclc/js/check.js' %}"></script>
<script src="{% static 'invclc/js/check_sidebar.js' %}"></script>

{% endblock content %}


