{% extends 'base.html' %} 

{% load static %} 
{% block nav_footer%}{% static 'invclc/css/nav.css' %}{% endblock nav_footer %} 
{% block title %} MedRegiA || Export/Import {% endblock title %} 

{% block navbar %}
  <div class="navbar">
    {% include "nav.html" %}
  </div>
    
{% endblock navbar %}

{% block content %}
<h1>Import/Export Data</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Choose a file to import:</label>
        <input type="file" name="file" accept=".xlsx">
        <button type="submit">Import</button>
    </form>

    <hr>

    <h2>Export Data</h2>
    <form method="post" action="{% url 'import-export' %}">
        {% csrf_token %}
        <label for="export_format">Select export format:</label>
        <select name="export_format">
            <option value="xlsx">Excel (xlsx)</option>
            <option value="csv">CSV</option>
        </select>
        <button type="submit" name="export">Export Data</button>
    </form>

    <!-- Display exported data if available -->
    {% if dataset %}
        <table border="1">
            <thead>
                <tr>
                    {% for header in dataset.headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in dataset.dict %}
                    <tr>
                        {% for value in row.values %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock content%}