{% extends 'base.html' %} 

{% load static %} 

{% block title %} MedRegiA || Export/Import {% endblock title %} 

{% block link %}{% static 'invclc/css/import.css' %}{% endblock link %} 

{% block link2 %}{% static 'invclc/css/export.css' %}{% endblock link2 %} 

{% block nav_footer%}{% static 'invclc/css/nav.css' %}{% endblock nav_footer %} 

{% block navbar %}
  <div class="navbar">
    {% include "nav.html" %}
  </div>
{% endblock navbar %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

<div class="tab">
  <button class="tablinks" onclick="opentab(event, 'Export')">Export</button>
  <button class="tablinks" onclick="opentab(event, 'Import')">Import</button>
  <!-- <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button> -->
</div>

<!-- Tab content -->
<div id="Export" class="tabcontent">
  <div class="box-container">
    <div class="export1">
      <div id="print_page">
        <div class="address-container">
          <div class="address-details">
            <h2>User Address Details</h2>
            <p> Name : {{user.username}}</p>
            <p> City : {{city}}</p>
            <p> PhoneNumber : {{user.phone_num}}</p>
            <p> UniqueId : {{unique_id}}</p>
          </div>
        </div>
        
        <div class="export-content">
          <table>
            <thead>
              <tr>
                <th><input type="checkbox"></th>
                <th>INVOICE No.</th>
                <th>Invoice Date</th>
                <th>Upload by</th>
                <th>Upload on</th>
                <th>Payment</th>
                <th>STATUS</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              {% for data in datas %}
              <tr>
                <td><input type="checkbox" id="check"></td>
                <td>{{data.invoice_number}}</td>
                <td>{{data.invoice_amount}}</td>
                <td>{{data.today_date}}</td>
                <td>{{data.payment_amount}}</td>
                <td>payment</td>
                {% if data.balance_amount == 0 %}
                <td>Paid</td>
                {% else %}
                <td>Pending</td>
                {% endif %}
                <td>remark</td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>    
      </div>
      <div class="print_less_page">
        <form>
          <div class="box-print1">
            <div class="btn csv">
              <a href="{% url 'exports_to_csv' %}" class="export-link" target="_blank"><button>CSV</button></a>
            </div>
            <div class="btn xlsx">
              <a href="{% url 'exports_to_xlsx' %}" class="export-link" target="_blank"><button>XLSX</button></a>
            </div>
            <div class="btn mysql">
              <a href="{% url 'exports_to_json' %}" class="export-link" target="_blank"><button>JSON</button></a>
            </div>
            <div class="btn">
              <button type="button" onclick="window.print()">Print / PDF</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="export2">
      <div class="export2-box1">
        <div>
          <input type="checkbox">
          <label>completed</label>
        </div>

        <div>
          <input type="checkbox">
          <label>All (Not paid/Not Completed)</label>
        </div>  
      </div>

      <div class="export2-box2">
        <h3>Category Based</h3>
        <div class="export2-box2-content">
          <div>
            <input type="checkbox">
            <label>Pharmacy</label>
          </div>
  
          <div>
            <input type="checkbox">
            <label>Dealer</label>
          </div>
  
          <div>
            <input type="checkbox">
            <label>Agency</label>
          </div>
        </div>
        <div class="other">
          <input type="checkbox">
          <label>Others :</label>
          <input type="text" style="height: 26px; width: 200px; background-color: #ebe2e2;">
        </div>
        
      </div>


      <div class="export2-box3">
        <table id="checkboxTable">
          <tr>
              <th>Select</th>
              <th>Medical List</th>
          </tr>
          <tr>
              <td><input type="checkbox" class="checkbox"></td>
              <td>Dummy Data 1</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="checkbox"></td>
              <td>Dummy Data 2</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="checkbox"></td>
              <td>Dummy Data 3</td>
          </tr>

        </table>

      </div> 
    </div>

  </div>
</div>

<div id="Import" class="tabcontent" style="display: none;">
  <div class="lastbox">
    <div class="lastbox-content">
      <!-- Form for selecting options -->
      <div class="lastbox-center">
        <div class="lastbox-content-formate">
          <label for="tableSelector">Choose</label>
          <select id="tableSelector">
            <option value="table1">Format 1</option>
            <option value="table2">Format 2</option>
          </select>
        </div>
        <div class="lastbox-content-agency" style="display: none;">
          <label for="user">Store Type</label>
          <input type="text" id="user" value="{% if request.user.store_type == 'others' %}{{ request.user.other_value }}{% else %}{{ request.user.store_type }}{% endif %}" placeholder="Agencyname" disabled>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-container">
    <div class="box2">
      <!-- Buttons to choose different file types -->
      <div class="btn csv">
        <input type="file" name="csv_file" id="csv_file_input" accept=".csv" style="display: none;" onchange="handleFileSelect('csv_file_input')">
        <button type="button" onclick="document.getElementById('csv_file_input').click()">Choose CSV</button>
      </div>
      <div class="btn pdf">
        <input type="file" name="pdf_file" id="pdf_file_input" accept=".pdf" style="display: none;" onchange="handleFileSelect('pdf_file_input')">
        <button type="button" onclick="document.getElementById('pdf_file_input').click()">Choose PDF</button>
      </div>
      <div class="btn xlsx">
        <input type="file" name="excel_file" id="excel_file_input" accept=".xls, .xlsx" style="display: none;" onchange="handleFileSelect('excel_file_input')">
        <button type="button" onclick="document.getElementById('excel_file_input').click()">Choose Excel</button>
      </div>
    </div>
  </div>
  <div class="box main-box">
    <table id="table1">
      <thead id="file_data">
        <!-- Data will be dynamically added here -->
      </thead>
    </table>
    <table id="table2" style="display: none;">
      <!-- Data for Format 2 -->
      <thead>
        <tr>
          <th>Agency name</th>
          <th>Invoice Number</th>
          <th>Invoice Date</th>
          <th>Total</th>
          <th>Paid/Pending</th>
        </tr>
      </thead>
      <tbody>
        {% for data in datas %}
        <tr>
          <td>{% if request.user.store_type == 'others' %}{{ request.user.other_value }}{% else %}{{ request.user.store_type }}{% endif %}</td>
          <td>{{ data.invoice_number }}</td>
          <td>{{ data.invoice_date }}</td>
          <td>{{ data.invoice_amount }}</td>
          <td>{% if data.balance_amount == 0 %}Paid{% else %}Pending{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="Upload" style="display: none;">
      <button>Upload</button>
    </div>
  </div>
</div>


  




 



<script src="{% static 'invclc/js/import-export.js' %}"></script>
{% endblock content %}
