{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %} MedRegiA || Invoice {% endblock title %}
{% block nav_footer %}{% static 'nav_footer.css' %} {% endblock nav_footer %}
{% block link2 %}{% static 'invclc/css/index.css' %} {% endblock link2 %}
{% block side %}{% static 'authentication/css/sidebar.css' %}{% endblock side %}
{% block link_footer %}{% static 'footer.css' %} {% endblock link_footer %}

{% block navbar %}
{% include 'nav.html' %}
{% endblock navbar %}


{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}

{% block message %}
{% include 'invoice_message.html' %}
{% endblock message %}

{% block content %}

<div class="main-container" id="mainContent">
  <div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="overlay-content">
      <h2>Invoice Update Failed</h2>
      <p>Please update your profile with the following information:</p>
      <ul>
          <li>Pharmacy Name</li>
          <li>Drug License Number 1</li>
          <li>Drug License Number 2</li>
      </ul>
      <form action="#" method="post">
          {% csrf_token %}
          <label for="pharmacy_name">Pharmacy Name</label>
          <input type="text" name="pharmacy_name" id="pharmacy_name" required placeholder="Enter Your Pharmacy Name">
          <label for="dl1">Drug License Number 1</label>
          <input type="text" name="dl1" id="dl1" required placeholder="Enter Your Drug License Number 1">
          <label for="dl2">Drug License Number 2</label>
          <input type="text" name="dl2" id="dl2" required placeholder="Enter Your Drug License Number 2">
          <div class="content-btn">
              <button type="button" id="popup-btn">Save</button>
          </div>  
      </form>
    </div>
  </div>
  <div class="main-header">
    <div class="header-top">
      <div class="header-top-btn">
        <h3>{{request.user}}</h3>
        {% comment %} <a href="{% url 'create' %}"><button type="button">Overall</button></a> {% endcomment %}
        <div class="header-messages" id="header-message">
        </div>
      </div>
      <div class="heading">
        {% if not medicalname.MedicalShopName or medicalname.MedicalShopName  == '' %}
        <h2></h2>
        {% else %}
            <h2><a href="{% url 'adminacess' %}" style="color:black;font-size:1.4rem">{{ medicalname.MedicalShopName  }}</a></h2>
        {% endif %}
      </div>

          <div class="unique-code">
            {% if check_user == current_user %}
              <p>UNIQUE-ID :</p><span>{{ uniqueid }}</span>
            {% else %}
                <p>UNIQUE-ID :</p><span>{{ uniqueid }}</span>
            {% endif %}
        </div>
                       
        </div>
  
        <div class="header-bottom">
          <form id="invoiceForm" method="post">
            {% csrf_token %}
            <table class="tableCreate">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Invoice Number</th>
                        <th>Invoice Date</th>
                        <th>Invoice Amount</th>
                        <th>Balance</th>
                        <th>Due Pay</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  {% if entryDisable %}
                    <tr id="not_accessable_profile">
                      <td><input type="text" name="pharmacy_name" placeholder="Pharmacy Name" class="pharmacy_name" maxlength="100" required id="id_pharmacy_name"></td>
                      <td><input type="text" name="invoice_number" placeholder="Invoice Number" class="invoice_number" maxlength="50" required id="id_invoice_number"></td>
                      <td><input type="text" name="invoice_date" placeholder="DD/MM/YYYY" required id="id_invoice_date"></td>
                      <td><input type="number" name="invoice_amount" placeholder="Invoice Amount" class="invoice_amount" step="0.01" required id="id_invoice_amount"></td>
                      <td><input type="text" name="balance_amount" placeholder="Balance Amount" disabled class="balance_amount" id="id_balance_amount"></td>
                      <td><input type="number" name="payment_amount" placeholder="0" value = 0 title="Default 0 " class="payment_amount" step="0.01" required id="id_payment_amount"></td>
                      <td>
                          <input type="hidden" name="today_date" id="id_today_date">
                          <input type="hidden" name="current_time" id="id_current_time">
                          <input type="hidden" name="updated_by" id="id_updated_by" value="{{ request.user }}">
                          <button type="button" id="saveButton"> Save </button>
                      </td>
                    </tr>
                  {% else %}
                    <tr>
                        <td><input type="text" name="pharmacy_name" placeholder="Pharmacy Name" class="pharmacy_name" maxlength="100" required id="id_pharmacy_name"></td>
                        <td><input type="text" name="invoice_number" placeholder="Invoice Number" class="invoice_number" maxlength="50" required id="id_invoice_number"></td>
                        <td><input type="text" name="invoice_date" placeholder="DD/MM/YYYY" required id="id_invoice_date"></td>
                        <td><input type="number" name="invoice_amount" placeholder="Invoice Amount" class="invoice_amount" step="0.01" required id="id_invoice_amount"></td>
                        <td><input type="text" name="balance_amount" placeholder="Balance Amount" disabled class="balance_amount" id="id_balance_amount"></td>
                        <td><input type="number" name="payment_amount" placeholder="0" value = 0 title="Default 0 " class="payment_amount" step="0.01" required id="id_payment_amount"></td>
                        <td>
                            <input type="hidden" name="today_date" id="id_today_date">
                            <input type="hidden" name="current_time" id="id_current_time">
                            <input type="hidden" name="updated_by" id="id_updated_by" value="{{ request.user }}">
                            <button type="button" id="saveButton"> Save </button>
                        </td>
                    </tr>

                  {% endif %}
                </tbody>
            </table>
        </form>        
          
        </div>
      </div>
  
      <div class="main-body">
  
        <div class="panel-content">
          <div class="tab">
            <button class="tablinks active" onclick="openpanel(event, 'Current Update')">Current Update</button>
            <button class="tablinks" onclick="openpanel(event, 'Payment Details')" data-panel="Payment Details">Payment Details</button>
            <button class="tablinks active" onclick="openpanel(event, 'DeleteHistory')">Delete History</button>
            <button class="tablinks" onclick="openpanel(event, 'UpdateHistory')">Modified History</button>
          </div>  
        </div>
  
        <div id="Current Update" class="tabcontent">
  
          <div class="table-content-left">
            <div class="table-panel">
              <h2 class="panel-heading">Paid Records</h2>
  
              <!-- <form action="" method="post">
                  {% csrf_token %}
                  <input type="text" name="payed" id="payment_list" placeholder="Search" title= "Search 'all' to get Full Data">
                  <button type="submit">Search</button>
              </form> -->
            </div>
            <div class="table-cover-left">
              <table>
                <thead>
                  <tr class="table_tr">
                    <th>Pharmacy Name</th>
                    <th>Invoice Number</th>
                    <th colspan="2">Status</th> 
                    <th>Records</th>
                  </tr>
                  <tr class="table_tr">
                    <th></th>
                    <th></th>
                    <th>Current Medical</th>
                    <th>Invoice Medical</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% if check_user == current_user %}
                    {% for data in full_paid %}
                    <tr>
                        <td><input type="text" value="{{ data.pharmacy_name }}" disabled></td>
                        <td><input type="text" value="{{ data.invoice_number }}" disabled></td>
                        <td class="medicalstatus">
                            <input type="text" value="{{ MedicalStatus }} Accepted" disabled>
                            <span class="status"></span>
                        </td>
                        <td class="pharmacystatus">
                            {% if data.pharmacy_name %}
                                {% if request.user.is_authenticated %}
                                    <input type="text" value="{{ data.pharmacy_name|convert_medical }}" disabled>
                                    <span class="loginstatus"></span>
                                {% else %}
                                    <input type="text" value="{{ data.pharmacy_name|convert_medical }}" disabled>
                                    <span class="statusfailed">{{ data.pharmacy_name|medical_signup}}</span>
                                {% endif %}
                            {% else %}
                                <input type="text" value="Not Found" disabled>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'check' data.id %}"><button type="button">Check</button></a></td>
                    </tr>
                    {% endfor %}
                  {% else %}
                    {% for data in payed_details %}
                    <tr>
                        <td><input type="text" value="{{ data.pharmacy_name }}" disabled></td>
                        <td><input type="text" value="{{ data.invoice_number }}" disabled></td>
                        <td class="medicalstatus">
                            <input type="text" value="{{ MedicalStatus }} Accepted" disabled>
                            <span class="status"></span>
                        </td>
                        <td class="pharmacystatus">
                            {% if data.pharmacy_name %}
                                {% if request.user.is_authenticated %}
                                    <input type="text" value="{{ data.pharmacy_name|convert_medical }}" disabled>
                                    <span class="loginstatus" style="background-color:{{data.pharmacy_name|medical_signup}};"></span>
                                {% else %}
                                    <input type="text" value="{{ data.pharmacy_name|convert_medical }}" disabled>
                                    <span style="background-color:{{data.pharmacy_name|medical_signup}};"></span>
                                {% endif %}
                            {% else %}
                                <input type="text" value="Not Found" disabled>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'check' data.id %}"><button type="button">Check</button></a></td>
                    </tr>
                    {% endfor %}
                  {% endif %}
              </tbody>
              
              </table>
              
            </div>  
            <a href="{% url 'checkmore' %}"><button type="button">more details</button></a>
          </div>
          

          <div class="table-content-right">
            <div class="table-panel">
              <h2 class="panel-heading">Update</h2>
  
              <!-- <form action="" method="post">
                  {% csrf_token %}
                  <input type="text" name="payment_list" id="payment_list" placeholder="Search" title= "Search 'all' to get Full Data">
                  <button type="submit">Search</button>
              </form> -->
            </div>
            <div class="table-cover-right">
              <table>
                <thead>
                  <th>Pharmacy Name</th>
                  <th>Invoice Number</th>
                  <th>Invoice Amount</th>
                  <th>Paid Date</th>
                  <th>Balance Amount</th>
                  <th>Action</th>
                </thead>
                <tbody id="updatePaymentTable">
                  {% if check_user == current_user %}
                    <form action="" method="post" id="update_delete_id">
                      {% csrf_token %}
                      {% for data in edit_paid %}
                      <tr id="row_{{ data.id }}" data-invoice-id="{{ data.id }}">
                          <td><input type="text" value="{{ data.pharmacy_name }}" disabled name="pharmacy_name"></td>
                          <td><input type="text" value="{{data.invoice_number}}" disabled name="invoice_number"></td>
                          <td><input type="text" class="updatePayment" value="{{ data.invoice_amount }}" disabled name="invoice_amount"></td>
                          <td><input type="text" value="{{ data.invoice_date }}" disabled name="invoice_date"></td>
                          <td><input type="text" class="updateBalance" value="{{ data.balance_amount }}" readonly disabled></td>
                          <input type="hidden" class="updatePay" value="{{data.payment_amount}}">
                          <td>
                              <button type="button" class="editBtn">Edit</button>
                              <button type="button" class="deleteBtn">Delete</button>
                              <button type="button" class="saveBtn" data-invoice-id="{{ data.id }}" style="display: none;">Save</button>
                              <button type="button" class="cancelBtn" style="display: none;">Cancel</button>
                          </td>
                      </tr>
                      {% endfor %}
                    </form>
                  {% else %}
                    <form action="" method="post" id="update_delete_id">
                      {% csrf_token %}
                      {% for data in payment %}
                      <tr id="row_{{ data.id }}" data-invoice-id="{{ data.id }}">
                          <td><input type="text" value="{{ data.pharmacy_name }}" disabled name="pharmacy_name"></td>
                          <td><input type="text" value="{{data.invoice_number}}" disabled name="invoice_number"></td>
                          <td><input type="text" class="updatePayment" value="{{ data.invoice_amount }}" disabled name="invoice_amount"></td>
                          <td><input type="text" value="{{ data.invoice_date }}" disabled name="invoice_date"></td>
                          <td><input type="text" class="updateBalance" value="{{ data.balance_amount }}" readonly disabled></td>
                          <input type="hidden" class="updatePay" value="{{data.payment_amount}}">
                          <td>
                              <button type="button" class="editBtn">Edit</button>
                              <button type="button" class="deleteBtn">Delete</button>
                              <button type="button" class="saveBtn" data-invoice-id="{{ data.id }}" style="display: none;">Save</button>
                              <button type="button" class="cancelBtn" style="display: none;">Cancel</button>
                          </td>
                      </tr>
                      {% endfor %}
                    </form> 
                  {% endif %}
              </tbody>
              </table>
            </div>
            <a href="{% url 'updatemore' %}"><button>more details</button></a>
          </div>
        </div>
  
        <div id="Payment Details" class="tabcontent">
          <div class="table-content-left">
            <div class="table-panel">
              <h2 class="panel-heading">Partially Paid</h2>
  
              <!-- <form action="" method="post">
                  {% csrf_token %}
                  <input type="text" name="q" id="search" placeholder="Search" title= "Search 'all' to get Full Data">
                  <button type="submit">Search</button>
              </form> -->
            </div>
            <div class="table-cover-left">
              <table>
                <thead>
                  <th>Name</th>
                  <th>Invoice No.</th>
                  <th>Total</th>
                  <th>Status</th>
                  <th>Pending</th>
                  <th>Payment</th>
                  <th>Action</th>
                </thead>
                <tbody id="paymentTableBody">
                  {% if check_user == current_user %}
                    {% for data in partially_paid %}
                    <tr data-invoice-id="{{ data.id }}">
                      <!-- Add name attributes to your input fields -->
                      <td><input type="text" name="pharmacy_name" value="{{ data.pharmacy_name }}" disabled></td>
                      <td><input type="text" name="invoice_number" value="{{ data.invoice_number }}" disabled></td>
                      <td><input type="text" class="partiallyTotal" name="invoice_amount" value="{{ data.invoice_amount }}" disabled></td>
                      {% if data.balance_amount == 0 %}
                        <td><input type="text" value="Paid" disabled></td>
                      {% else %}
                        <td><input type="text" value="Pending" disabled></td>
                      {% endif %}
                      <td><input type="text" class="partiallyBalance" name="balance_amount" value="{{ data.balance_amount }}" disabled></td>
                      <td><input type="text" class="partiallyPayment" name="payment_amount" value="{{ data.payment_amount }}" disabled></td>
                      
                      <td> 
                        <button class="payBtn" type="button" data-pay-id="{{ data.id }}">Pay</button>
                        <button class="cancelBtn" type="button" style="display: none;">Cancel</button>
                      </td>
                    </tr>
                    {% endfor %}
                  {% else %}
                    {% for data in q %}
                    <tr data-invoice-id="{{ data.id }}">
                      <!-- Add name attributes to your input fields -->
                      <td><input type="text" name="pharmacy_name" value="{{ data.pharmacy_name }}" disabled></td>
                      <td><input type="text" name="invoice_number" value="{{ data.invoice_number }}" disabled></td>
                      <td><input type="text" class="partiallyTotal" name="invoice_amount" value="{{ data.invoice_amount }}" disabled></td>
                      {% if data.balance_amount == 0 %}
                        <td><input type="text" value="Paid" disabled></td>
                      {% else %}
                        <td><input type="text" value="Pending" disabled></td>
                      {% endif %}
                      <td><input type="text" class="partiallyBalance" name="balance_amount" value="{{ data.balance_amount }}" disabled></td>
                      <td><input type="text" class="partiallyPayment" name="payment_amount" value="{{ data.payment_amount }}" disabled></td>
                      
                      <td> 
                        <button class="payBtn" type="button" data-pay-id="{{ data.id }}">Pay</button>
                        <button class="cancelBtn" type="button" style="display: none;">Cancel</button>
                      </td>
                    </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>  
            <a href="{% url 'paymore' %}"><button>more details</button></a>
          </div>
  
          <div class="table-content-right">
            <div class="table-panel">
              <h2 class="panel-heading">Payment List</h2>
  
              <!-- <form action="" method="post">
                  {% csrf_token %}
                  <input type="text" name="search" id="search" placeholder="Search" title= "Search 'all' to get Full Data">
                  <button type="submit">Search</button>
              </form> -->
            </div>
            <div class="table-cover-right">
              <table>
                <thead>
                  <th>Pharmacy Name</th>
                  <th>Invoice Amount</th>
                  <th>Balance Amount</th>
                  <th>Paid Amount</th>
                  <th>Action</th>
                </thead>
                <tbody id="payTableBody">
                  {% if check_user == current_user %}
                    {% for data in debt_paid %}
                    <tr>
                      <td><input type="text" name="phmy_name" value="{{data.pharmacy_name}}"disabled></td>
                      <td><input type="text" name="iv_amount" value="{{data.invoice_amount}}"disabled></td>
                      <td><input type="text" class = "bal_amount" name="bal_amount" value="{{data.balance_amount}}"disabled></td>
                      <td><input type="text" class = "pmnt_amount" name="pmnt_amount" value="{{data.payment_amount}}"disabled></td>
                      <td>
                        <button class="payBtn" type="button" data-pay-id="{{ data.id }}">Pay</button>
                        <button class="cancelBtn" type="button" style="display: none;">Cancel</button>
                      </td>
                    </tr>
                    {% endfor %}
                  {% else %}
                    {% for data in search %}
                    <tr>
                      <td><input type="text" name="phmy_name" value="{{data.pharmacy_name}}"disabled></td>
                      <td><input type="text" name="iv_amount" value="{{data.invoice_amount}}"disabled></td>
                      <td><input type="text" class = "bal_amount" name="bal_amount" value="{{data.balance_amount}}"disabled></td>
                      <td><input type="text" class = "pmnt_amount" name="pmnt_amount" value="{{data.payment_amount}}"disabled></td>
                      <td>
                        <button class="payBtn" type="button" data-pay-id="{{ data.id }}">Pay</button>
                        <button class="cancelBtn" type="button" style="display: none;">Cancel</button>
                      </td>
                    </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
            
            <a href="{% url 'unpaid_debt' %}"><button>more details</button></a>
          </div>
        </div>

    <div id="DeleteHistory" class="tabcontent deleted-history">
      <div class="delete-heading">
        <h3>Delete History</h3>
      </div>

      <div class="delete-table">
        <table>
          <thead>
            <th>Delete Date</th>
            <th>Name</th>
            <th>Invoice Number</th>
            <th>Invoice Date</th>
            <th>Total Amount</th>
            <th>Payment Amount</th>
          </thead>

          <tbody>
            {% if DeleteHistory == "No Deletion Found" %}
            <tr>
              <td colspan="6">
                <h2>No Deleted Details Found ...</h2>
              </td>
            </tr>
            {% else %}
            {% for history in DeleteHistory%}
            <tr>
              <td>{{history.today_date}}</td>
              <td>{{history.pharmacy}}</td>
              <td>{{history.number}}</td>
              <td>{{history.date}}</td>
              <td>{{history.amount}}</td>
              <td>{{history.payment}}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>

      </div>

    </div>

    <div id="UpdateHistory" class="tabcontent updated-history">
      <div class="update-heading">
        <h3>Modified History</h3>
      </div>

      <div class="update-table">
        <table>
          <thead>
            <th>Updated Date</th>
            <th>Updated Name</th>
            <th>Updated Invoice Number</th>
            <th>Updated Invoice Date</th>
            <th>Updated Total Amount</th>
            <th>Updated Payment Amount</th>
          </thead>

          <tbody>
            {% if ModifiedHistory == "No Updatation Found" %}
            <tr>
              <td colspan="6">
                <h2>No Modified Details Here ...</h2>
              </td>
            </tr>
            {% else %}
            {% for Modified in ModifiedHistory %}
            <tr>
              <td>{{ Modified.modified_today_date }}</td>
              <td>{{ Modified.modified_pharmacy }}</td>
              <td>{{ Modified.modified_Invoice_number }}</td>
              <td>{{ Modified.modified_Invoice_date }}</td>
              <td>{{ Modified.modified_Total_amount }}</td>
              <td>{{ Modified.modified_payment }}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>

      </div>

    </div>

  </div>
</div>

<script src="{% static 'invclc/js/index.js' %}"></script>
<script src="{% static 'authentication/js/sidebar.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</div>

{% endblock content %}


{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
