{% extends 'base.html' %}
{% load static %}
{% block title %} MedRegiA || Invoice {% endblock title %}
{% block nav_footer %}{% static 'nav_footer.css' %} {% endblock nav_footer %}
{% block link2 %}{% static 'invclc/css/index.css' %} {% endblock link2 %}
{% block side %}{% static 'authentication/css/sidebar.css' %}{% endblock side %}
{% block link_footer %}{% static 'footer.css' %} {% endblock link_footer %}

{% block navbar %}
  {% include 'nav.html' %}
{% endblock navbar %}

 
{% block sidebar %}
  {% include 'sidebar.html' %}
{% endblock sidebar %}

{% block message %}
    {% include 'message.html' %}
{% endblock message %}

{% block content %}

    <div class="main-container" id="mainContent">
 
      <div class="main-header">
        <div class="header-top">
          <div class="header-top-btn">
            <a href="{% url 'create' %}"><button type="button">Overall</button></a>
            <div class="header-messages">
              
            </div>
          </div>
          <div class="heading">
            <h2>Invoice</h2>
          </div>
          <div class="unique-code">
            <p>UNIQUE-ID :</p><span>{{uniqueid}}</span>
          </div>  
        </div>
  
        <div class="header-bottom">
          <form action="" method="post">
            {% csrf_token %}
            <table class="tableCreate">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Invoice Number</th>
                  <th>Invoice Date</th>
                  <th>Invoice Amount</th>
                  <th>Due Pay</th>
                  <th>Balance</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>{{form.pharmacy_name}}</td>
                    <td>{{form.invoice_number}}</td>
                    <td>{{form.invoice_date}}</td>
                    <td>{{form.invoice_amount}}</td>
                    <td>{{form.payment_amount}}</td>
                    <td>{{form.balance_amount}}</td>
                    {% comment %} <td>{{form.today_date}}</td> {% endcomment %}
                    <td>
                      {{form.today_date}}
                      <button type="submit" id="saveButton"> Save </button>
                    </td>
                </tr>
              </tbody>
            </table>
          </form>
          
        </div>
      </div>
  
      <div class="main-body">
  
        <div class="panel-content">
          <div class="tab">
            <button class="tablinks active" onclick="openpanel(event, 'Current Update')">Current Update</button>
            <button class="tablinks" onclick="openpanel(event, 'Payment Details')">Payment Details</button>
            <button class="tablinks active" onclick="openpanel(event, 'DeleteHistory')">Delete History</button>
            <button class="tablinks" onclick="openpanel(event, 'UpdateHistory')">Update History</button>
          </div>  
        </div>
  
        <div id="Current Update" class="tabcontent">
  
          <div class="table-content-left">
            <div class="table-panel">
              <h2 class="panel-heading">Paid Records</h2>
  
              <form action="" method="post">
                  {% csrf_token %}
                  <input type="text" name="payed" id="payment_list" placeholder="Search" title= "Search 'all' to get Full Data">
                  <button type="submit">Search</button>
              </form>
            </div>
            <div class="table-cover-left">
              <table>
                <thead>
                  <th>Pharmacy Name</th>
                  <th>Invoice Number</th>
                  <th colspan="2">Status</th>
                  <th>Records</th>
                </thead>
                <tbody>
                  {% for data in payed_details %}
                  <tr>
                    <td>{{data.pharmacy_name}}</td>
                    <td>{{data.invoice_number}}</td>
                    <td>GP Accepted</td>
                    <td>AMP</td>
                    <td><a href="{% url 'check' data.id %}"><button type="button">Check</button></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>  
            <a href="{% url 'checkmore' %}"><button type="button">more details</button></a>
          </div>
  
  
          <div class="table-content-right">
            <div class="table-panel">
              <h2 class="panel-heading">Update</h2>
  
              <form action="" method="post">
                  {% csrf_token %}
                  <input type="text" name="payment_list" id="payment_list" placeholder="Search" title= "Search 'all' to get Full Data">
                  <button type="submit">Search</button>
              </form>
            </div>
            <div class="table-cover-right">
              <table>
                <thead>
                  <th>Pharmacy Name</th>
                  <th>Invoice Amount</th>
                  <th>Paid Date</th>
                  <th>Balance Amount</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <form action="" method="post" id="update_delete_id">
                    {% csrf_token %}
                    {% for data in payment %}
                    <tr id="row_{{ data.id }}" data-invoice-id="{{ data.id }}">
                        <td><input type="text" value="{{ data.pharmacy_name }}" disabled name="pharmacy_name"></td>
                        <td><input type="text" value="{{ data.invoice_amount }}" disabled name="invoice_amount"></td>
                        <td><input type="text" value="{{ data.invoice_date }}" disabled name="invoice_date"></td>
                        <td><input type="text" value="{{ data.balance_amount }}" disabled name="balance_amount"></td>
                        <td>
                            <button type="button" class="editBtn">Edit</button>
                            <button type="button" class="deleteBtn">Delete</button>
                            <button type="button" class="saveBtn" data-invoice-id="{{ data.id }}" style="display: none;">Save</button>
                            <button type="button" class="cancelBtn" style="display: none;">Cancel</button>
                        </td>
                    </tr>
                    {% endfor %}
                  </form> 
              </tbody>
              </table>
            </div>
            <a href="{% url 'updatemore' %}"><button>more details</button></a>
          </div>
        </div>
  
        <div id="Payment Details" class="tabcontent">
          <div class="table-content-left">
            <div class="table-panel">
              <h2 class="panel-heading">Partially Paid</h2>
  
              <form action="" method="post">
                  {% csrf_token %}
                  <input type="text" name="q" id="search" placeholder="Search" title= "Search 'all' to get Full Data">
                  <button type="submit">Search</button>
              </form>
            </div>
            <div class="table-cover-left">
              <table>
                <thead>
                  <th>Name</th>
                  <th>IV / No.</th>
                  <th>Total</th>
                  <th>Pending</th>
                  <th>Payment</tha>
                  <th>Action</th>
                </thead>
                <tbody id="paymentTableBody">
                  {% for data in q %}
                  <tr data-invoice-id="{{ data.id }}">
                    <!-- Add name attributes to your input fields -->
                    <td><input type="text" name="pharmacy_name" value="{{ data.pharmacy_name }}" disabled></td>
                    <td><input type="text" name="invoice_number" value="{{ data.invoice_number }}" disabled></td>
                    <td><input type="text" name="invoice_amount" value="{{ data.invoice_amount }}" disabled></td>
                    <td><input type="text" name="balance_amount" value="{{ data.balance_amount }}" disabled></td>
                    <td><input type="text" name="payment_amount" value="{{ data.payment_amount }}" disabled></td>

                    <td> 
                      <button class="payBtn" type="button" data-pay-id="{{ data.id }}">Pay</button>
                      <button class="cancelBtn" type="button" style="display: none;">Cancel</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>  
            <a href="{% url 'paymore' %}"><button>more details</button></a>
          </div>
  
          <div class="table-content-right">
            <div class="table-panel">
              <h2 class="panel-heading">Payment List</h2>
  
              <form action="" method="post">
                  {% csrf_token %}
                  <input type="text" name="search" id="search" placeholder="Search" title= "Search 'all' to get Full Data">
                  <button type="submit">Search</button>
              </form>
            </div>
            <div class="table-cover-right">
              <table>
                <thead>
                  <th>Pharmacy Name</th>
                  <th>Invoice Amount</th>
                  <th>Balance Amount</th>
                  <th>Paid Amount</th>
                  <th>Action</th>
                </thead>
                <tbody id="payTableBody">
                  {% for data in search %}
                  <tr>
                    <td><input type="text" name="phmy_name" value="{{data.pharmacy_name}}"disabled></td>
                    <td><input type="text" name="iv_amount" value="{{data.invoice_amount}}"disabled></td>
                    <td><input type="text" name="bal_amount" value="{{data.balance_amount}}"disabled></td>
                    <td><input type="text" name="pmnt_amount" value="{{data.payment_amount}}"disabled></td>
                    <td>
                      <button class="payBtn" type="button" data-pay-id="{{ data.id }}">Pay</button>
                      <button class="cancelBtn" type="button" style="display: none;">Cancel</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            
            <a href="{% url 'unpaid_debt' %}"><button>more details</button></a>
          </div>
        </div>

        <div id="DeleteHistory" class="tabcontent deleted-history">
          <div class="delete-heading">
            <h3>Delete History</h3>
          </div>

          <div class="delete-table">
            <table>
              <thead>
                <th>Delete Date</th>
                <th>Name</th>
                <th>Invoice Number</th>
                <th>Invoice Date</th>
                <th>Total Amount</th>
                <th>Payment Amount</th>
              </thead>
            
              <tbody>
                {% for history in DeleteHistory%}
                <tr>
                  <td>{{history.today_date}}</td>
                  <td>{{history.pharmacy}}</td>
                  <td>{{history.number}}</td>
                  <td>{{history.date}}</td>
                  <td>{{history.amount}}</td>
                  <td>{{history.payment}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
  
          </div>
          
        </div>

        <div id="UpdateHistory" class="tabcontent">
        <h3>Modified History</h3>
          <table>
            <thead>
              <th>History Date</th>
              <th>History Type</th>
              <th>History User</th>
              <th>History Change Reason</th>
              <th>Old / New</th>
            </thead>

            <tbody>
              {%for record in history %}:
                {{record.history_date}} <br>
                {{record.history_type}}
              {% endfor %}
            </tbody>                   
          </table>
        </div>
  
      </div>
    </div>
  
    <script src="{% static 'invclc/js/index.js' %}"></script> 
    <script src="{% static 'authentication/js/sidebar.js' %}"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
  </div>
{% endblock content %}


{% block footer %}
  {% include 'footer.html' %}
{% endblock footer %}