{% extends 'base.html' %} 

{% load static %} 

{% block title %} MedRegiA || Pay More {% endblock title %} 

{% block nav_footer %}{% static 'nav_footer.css' %} {%endblock nav_footer %} 

{% block link %}{% static 'invclc/css/paymore.css' %} {%endblock link %}

{% block side %}{% static 'invclc/css/static_sidebar.css' %}{% endblock side %}


{% block navbar %} 
    {% include 'nav.html' %} 
{% endblock navbar%} 

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}

{% block message %}
    {% include 'invoice_message.html' %}
{% endblock message %}

{% block content %}
    <div class=" paymore-container">
        <h3> Partially Paid More details</h3>
        <div class="paymore-container-paid">
            <div class="paymore-container-btn"><button type="button" class="csvBtn">Print CSV</button></div>
            <table class="paymoreTable">
                <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>Name</th>
                        <th>Invoice No.</th>
                        <th>Updated By</th>
                        <th>Total</th>
                        <th>Paid Details</th>
                        <th>Paid Date</th>
                        <th>Status</th>
                        <th>Pending</th>
                        <th>Payment</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="paymentTableBody">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for data in invoices %}
                        <tr data-invoice-id="{{ data.id }}">
                        <!-- Add name attributes to your input fields -->
                        <td><input type="checkbox" id="check"></td>
                        <td><input type="text" name="pharmacy_name" value="{{ data.pharmacy_name }}" disabled></td>
                        <td><input type="text" name="invoice_number" value="{{ data.invoice_number }}" disabled></td>
                        <td><input type="text" name="updated_by" value="{{ data.updated_by }}" disabled></td>
                        <td><input type="text" name="invoice_amount" value="{{ data.invoice_amount }}" disabled></td>
                        <td>
                            <div class="scrollable-cell">
                                {% for tracking_invoice in tracking_invoices %}
                                    {% if tracking_invoice.Bill_no == data.invoice_number %}
                                        {{ tracking_invoice.paying_amount }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <div class="scrollable-cell expand">
                                {% for tracking_invoice in tracking_invoices %}
                                    {% if tracking_invoice.Bill_no == data.invoice_number %}
                                        {{ tracking_invoice.payment_date }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                        {% if data.balance_amount == 0 %}
                        <td>Paid</td>
                        {% else %}
                        <td>Pending</td>
                        {% endif %}
                        <td><input type="text" name="balance_amount" value="{{ data.balance_amount }}" disabled></td>
                        <td><input type="text" name="payment_amount" value="{{ data.payment_amount }}" disabled></td>
                        <td> 
                            <button class="payBtn" type="button" data-pay-id="{{ data.id }}">Pay</button>
                            <button class="cancelBtn" type="button" style="display: none;">Cancel</button>
                        </td>
                        </tr>
                        {% endfor %}
                    </form>
                </tbody>
            </table>
        </div>
    </div>

    <script src="{% static 'invclc/js/paymore.js' %}"></script>  
    <script src="{% static 'invclc/js/paymore_sidebar.js' %}"></script>     
   

{% endblock content %}