{% extends 'base.html' %}
{% load static %}
{% block title %} MedRegiA || Change_pin {% endblock title %}
{% block nav_footer %}{% static 'nav_footer.css' %} {% endblock nav_footer %}
{% block link %}{% static 'authentication/css/changepin.css' %} {% endblock link %}
{% comment %} {% block side %}
    {% static 'authentication/css/sidebar.css' %}
{% endblock side %} {% endcomment %}

{% block navbar %}
  {% include 'nav.html' %}
{% endblock navbar %} 

{% block message %}
  {% include 'message.html' %}
{% endblock message %}

{% block content %}
<h1>Change PIN</h1>
<form method="post" action=''>
    {% csrf_token %}
    <div class="pinchange">
      <label for="current_pin">Current PIN:</label>
      <input type="password" name="current_pin" oninput="validateInput()" id="current_pin" required>
      <br>
    </div>
    <div class="pinchange">
      <label for="new_pin">New PIN:</label>
      <input type="password" name="new_pin" oninput="validateInput()" id="new_pin" required>
      <br>
    </div>
    <div class="pinchange">
      <label for="new_pin">Confirm New PIN:</label>
      <input type="password" name="confirm_new_pin" oninput="validateInput()" id="confirm_new_pin" required>
      <br>
    </div>
    <div class="btn-1">
      <button type="submit">Change PIN</button>
    </div>
    <div class="back">
      <a href="{% url 'adminacess' %}"><button type="button">Back</button></a> 
    </div>
</form>


<script>
  function validateInput() {
    let x = document.getElementById("current_pin");
    x.value = x.value.replace(/[^0-9]/g, "");

    let y= document.getElementById("new_pin");
    y.value = y.value.replace(/[^0-9]/g, "");
    
  }
  </script>
 
{% endblock content %}

