{% extends 'base.html' %}
{% load static %}
{% block title %} MedRegiA || Change_pin {% endblock title %}
{% block nav_footer %}{% static 'nav_footer.css' %} {% endblock nav_footer %}
{% block link %}{% static 'authentication/css/changepin.css' %} {% endblock link %}
{% comment %} {% block side %}
    {% static 'authentication/css/sidebar.css' %}
{% endblock side %} {% endcomment %}

{% block navbar %}
  {% include 'nav.html' %}
{% endblock navbar %} 

{% block message %}
  {% include 'message.html' %}
{% endblock message %}

{% block content %}
<div class="body-container">
  <div class="container">
    <h1>Change PIN</h1>
    <form method="post" action=''>
      {% csrf_token %}
        <div class="form-group">
            <label for="current-pin">Current PIN:</label>
            <input type="password" name="current_pin" oninput="validateInput()" id="current_pin" required>
        </div>
        <div class="form-group">
            <label for="new-pin">New PIN:</label>
            <input type="password" name="new_pin" oninput="validateInput()" id="new_pin" required>
        </div>
        <div class="form-group">
            <label for="confirm-new-pin">Confirm New PIN:</label>
            <input type="password" name="confirm_new_pin" oninput="validateInput()" id="confirm_new_pin" required>
        </div>
        <div class="buttons">
          <button type="submit" class="change-btn">Change PIN</button>
          <a href="{% url 'adminacess' %}"><button type="button" class="back-btn">Back</button></a>    
        </div>
    </form>
  </div>
</div>


<script>
  function validateInput() {
    let currentPin = document.getElementById("current_pin");
    let newPin = document.getElementById("new_pin");
    let confirmNewPin = document.getElementById("confirm_new_pin");
    
    currentPin.value = currentPin.value.replace(/[^0-9]/g, "");
    newPin.value = newPin.value.replace(/[^0-9]/g, "");
    confirmNewPin.value = confirmNewPin.value.replace(/[^0-9]/g, "");
    
    if (currentPin.value.length > 4) currentPin.value = currentPin.value.slice(0, 4);
    if (newPin.value.length > 4) newPin.value = newPin.value.slice(0, 4);
    if (confirmNewPin.value.length > 4) confirmNewPin.value = confirmNewPin.value.slice(0, 4);
  }
  </script>
 
{% endblock content %}

