  {% extends 'base.html' %}
{% load static %}
{% block title %} MedRegiA || Coloborator Lists {% endblock title %}
{% block nav_footer %}{% static 'nav_footer.css' %} {% endblock nav_footer %}
{% block link %}{% static 'authentication/css/coloborator.css' %} {% endblock link %}

{% block navbar %}
  {% include 'nav.html' %}
{% endblock navbar %} 

{% block message %}
  {% include 'message.html' %}
{% endblock message %}

{% block content %}
    <h2 class="head">Coloborator list with Other User</h2>
    <div class="coloborate">
      {% if colaborator%}
        <div class="listbox">
            <h2>Collaborate list</h2>
            {% for coloborators in colaborator %}
              <ul>
                  <li><span>{{coloborators.id}}</span>{{coloborators.sender}}</li>
              </ul>
            {% endfor %}
        </div>
      {% else %}
        <div class="listbox">
           <p>No Coloborator Found</p>
        </div>
      {% endif %}
    </div>
 
{% endblock content %}