{% extends 'base.html' %}
{% load static %}
{% block title %} MedRegiA || Login {% endblock title %}
{% block link %} {% static 'authentication/css/login.css' %} {% endblock link %}

{% block message %}
  {% include 'message.html' %}
{% endblock message %}

{% block content %}



  <div class="login-container">
    <div class="login-header">
      <div class="login-header-about">
        <a href="#">About Us</a>
      </div>

      <div class="login-header-medregia">
        <a href="{% url 'login' %}"> MedRegiA</a>
      </div>

      
    </div>

    <div class="login-container-body">
      <div class="container-body-messages">
        <div class="messages-mission">
          <h3>Mission</h3>
          <p> To guide small-scale businessmen in the medical field and strongly support them for business development, ultimately contributing to the success of their ventures.</p>
        </div>

        <div class="messages-vision">
          <h3>Vision</h3>
          <p> To foster successful businesses in the medical sector, recognizing that each small business contributes significantly to the growth and prosperity of our nation.</p>
        </div>
      </div>

      <div class="container-body-login">
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
            <i class="fas fa-times disable"></i>
        </div>
        {% endif %}
        <div class="login-body-container">
          <div class="login-body-header">
            <h3>Login Page</h3>

            <div class="phone">
              <a href="{% url 'phone_login' %}"><i class="fa-solid fa-mobile-screen-button" title="phone login"></i></a>
            </div>
          </div>

          <div class="body-container-login">
            <form action="#" method="post">
              {% csrf_token %}
              <div class="login-username">
                <label for="id_username">Username</label>
                {{form.username}}
              </div>

              <div class="login-password">
                <label for="id_password">Password</label>
                {{form.password}}
              </div>

              <div class="login-buttons">
                <div class="login-btn">
                  <a href="#"><button type="submit" class="loginbtn">Login</button></a>
                </div>
  
                <div class="signup-btn">
                  <a href="{% url 'signup' %}"> <button type="button" class="signupbtn">SignUp</button></a>
                </div>
              </div>
            </form>
          </div>

          <div class="bottom-field">
            <!-- <a href="{% url 'reset_password' %}">Forget Password ?</a> -->
            <a href="#">Terms & Conditions</a>
          </div>

        </div>
      </div>
    </div>

  </div>

<script src="{% static 'authentication/js/login.js' %}"></script>
{% endblock content %}

