{% extends 'base.html' %}
{% load static %}

{% block link %}{% static 'authentication/css/profile.css' %}{% endblock link%}
{% block link2 %}{% static 'authentication/css/nav.css' %} {% endblock link2 %}
{% block title %} MedRegia || Profile {% endblock title%}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 


{% block navbar %}
  {% include 'nav.html' %}
{% endblock navbar %}
 
{% block content%} 

{% include 'message.html' %}

<!-- Include the Select2 CSS and JS files -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


{% if request.user.is_superuser or request.user.is_staff %}
<form action="#" method="post">
    {% csrf_token %}
    <div class="profile-container">
        <div class="profile-heading">
            <h3>Profile</h3>
        </div>
        <div class="profile-main">
            <div class="profile-left-full">
                
                    <div class="profile-main-left">
                        <div class="profile-main-left-top">
                            <div class="left-medical-name left-top-containers">
                                <label for="Medicalshop Name">Medicalshop Name :</label>
                                {% if data.MedicalShopName and data.MedicalShopName != "" %}
                                    <div class="profile-data">
                                        {{data.MedicalShopName}}
                                    </div>
                                {% else %}
                                    {{profile.MedicalShopName}}
                                {% endif %}
                            </div>                            

                            <div class="left-pharmacy-name left-top-containers">
                                <label for="Medicalshop Name">Proprietary Name :</label>
                                {% if data.ProprietaryName and data.ProprietaryName != "" %}
                                    <div class="profile-data">
                                        {{data.ProprietaryName }}
                                    </div>
                                {% else %}
                                    {{profile.ProprietaryName }}
                                {% endif %}
                            </div>

                            <div class="left-drug-1 left-top-containers">
                                <label for="Medicalshop Name">Drug Licenese Number1 :</label>
                                {% if data.DrugLiceneseNumber1 and data.DrugLiceneseNumber1 != "" %}
                                    <div class="profile-data">
                                        {{data.DrugLiceneseNumber1 }}
                                    </div>
                                {% else %}
                                    {{profile.DrugLiceneseNumber1}}
                                {% endif %}
                            </div>

                            <div class="left-proprietary-number left-top-containers">
                                <label for="Medicalshop Name">Proprietary Number :</label>
                                {% if data.ProprietaryNumber and data.ProprietaryNumber != "" %}
                                    <div class="profile-data">
                                        {{data.ProprietaryNumber }}
                                    </div>
                                {% else %}
                                    {{profile.ProprietaryNumber}}
                                {% endif %}
                            </div>

                            <div class="left-drug-2 left-top-containers">
                                <label for="Medicalshop Name">Drug Licenese Number2 :</label>
                                {% if data.DrugLiceneseNumber2 and data.DrugLiceneseNumber2 != "" %}
                                    <div class="profile-data">
                                        {{data.DrugLiceneseNumber2 }}
                                    </div>
                                {% else %}
                                    {{profile.DrugLiceneseNumber2}}
                                {% endif %}
                            </div>

                            <div class="left-proprietary-contact left-top-containers">
                                <label for="Medicalshop Name">Proprietary Contact Number :</label>
                                {% if data.ProprietaryContact and data.ProprietaryContact != "" %}
                                    <div class="profile-data">
                                        {{data.ProprietaryContact }}
                                    </div>
                                {% else %}
                                    {{profile.ProprietaryContact}}
                                {% endif %}
                            </div>

                        </div>
                        <div class="profile-main-left-bottom">
                            <div class="left-bottom-heading">
                                <h3>Register Address</h3>
                            </div>

                            <div class="profile-left-bottom-main">
                                <div class="left-bottom-state left-bottom-containers">
                                    <label for="Medicalshop Name">State :</label>
                                    {% if data.state and data.state != "" %}
                                        <div class="profile-data">
                                            {{data.state }}
                                        </div>
                                    {% else %}
                                        <div class="state_dropdown">
                                            {{profile.state}}
                                        </div>
                                    {% endif %}
                                    
                                </div>

                                <div class="left-bottom-district left-bottom-containers">
                                    <label for="Medicalshop Name">District :</label>
                                    {% if data.district and data.district != "" %}
                                        <div class="profile-data">
                                            {{data.district }}
                                        </div>
                                    {% else %}
                                        <div class="district_dropdown">
                                            {{ profile.district }}
                                        </div>
                                    {% endif %}
                                    
                                </div>

                                <div class="left-bottom-city left-bottom-containers">
                                    <label for="Medicalshop Name">City :</label>
                                    {% if data.City and data.City != "" %}
                                        <div class="profile-data">
                                            {{data.City }}
                                        </div>
                                    {% else %}
                                        {{profile.City}}
                                    {% endif %}
                                </div>

                                <div class="left-bottom-pincode left-bottom-containers">
                                    <label for="Medicalshop Name">Pincode :</label>
                                    {% if data.Pincode and data.Pincode != "" %}
                                        <div class="profile-data">
                                            {{data.Pincode }}
                                        </div>
                                    {% else %}
                                        {{profile.Pincode}}
                                    {% endif %}
                                </div>

                                <div class="left-bottom-street left-bottom-containers">
                                    <label for="Medicalshop Name">StreetNumber :</label>
                                    {% if data.StreetNumber and data.StreetNumber != "" %}
                                        <div class="profile-data">
                                            {{data.StreetNumber }}
                                        </div>
                                    {% else %}
                                        {{profile.StreetNumber}}
                                    {% endif %}
                                </div>

                                <div class="left-bottom-doornumber left-bottom-containers">
                                    <label for="Medicalshop Name">DoorNumber :</label>
                                    {% if data.DoorNumber and data.DoorNumber != "" %}
                                        <div class="profile-data">
                                            {{data.DoorNumber }}
                                        </div>
                                    {% else %}
                                        {{profile.DoorNumber}}
                                    {% endif %}
                                </div>

                                <div class="left-bottom-unique-id">
                                    <label for="name">Unique ID :</label>
                                    <input type="text" value="{{unique_code}}" id="unique_id" readonly>
                                    <span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {% comment %}TODO: Profile Right styles {% endcomment %}
                <div class="profile-right-full">
                    <div class="profile-main-right-top">
                        <div class="profile-right-pharmacist right-top-containers">
                            <label for="Medicalshop Name">Pharmacist Name :</label>
                            {% if data.PharmacistName and data.PharmacistName != "" %}
                                <div class="profile-data">
                                    {{data.PharmacistName }}
                                </div>
                            {% else %}
                                {{profile.PharmacistName}}
                            {% endif %}
                        </div>

                        <div class="profile-right-register right-top-containers">
                            <label for="Medicalshop Name">Registered Number :</label>
                            {% if data.RegisteredNumber and data.RegisteredNumber != "" %}
                                <div class="profile-data">
                                    {{data.RegisteredNumber }}
                                </div>
                            {% else %}
                                {{profile.RegisteredNumber}}
                            {% endif %}
                        </div>

                        <div class="profile-right-contactnumber right-top-containers">
                            <label for="Medicalshop Name">Contact Number :</label>
                            {% if data.ContactNumber and data.ContactNumber != "" %}
                                <div class="profile-data">
                                    {{data.ContactNumber }}
                                </div>
                            {% else %}
                                {{profile.ContactNumber}}
                            {% endif %}
                        </div>
                    </div>
                    </form>     
            
                    <div class="profile-right-bottom">
                        <div class="profile-admin-details">
                            <div class="profile-admin-header">
                                <h3>Admin Details</h3>
                            </div>
                        
                            <div class="profile-admin-main">
                                <div class="profile-admin-name containers">
                                    {% for admin in admins %}
                                        <label for="name">Name</label>
                                        <input type="text" value="{{ admin_name }}" id="user_name" disabled>
                                    {% endfor %}
                                </div>
                            
                                <div class="profile-admin-contact containers">
                                    {% for admin in admins %}
                                        <label for="name">Contact</label>
                                        <input type="text"id="Contact"  name="Contact" value="{{ admin_ph}}" disabled>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="profile-current-user">
                            <div class="current-user-header">
                                <h3>Current User Details</h3>
                            </div>
                            
                            <div class="current-user-main-content">
                                <div class="current-user-main  bottom-containers">
                                    <i class="fa-solid fa-user"></i>
                                    <input type="text"id="currentusername" value="{{request.user}}" name="currentusername" placeholder="Name" readonly>
                                </div>
                            
                                <div class="current-user-phone bottom-containers">
                                    <i class="fa-solid fa-phone"></i>
                                    <input type="text"id="Currentphone" value="{{user_profile_data.phone_num}}" name="Currentphone" placeholder="Phone" readonly>
                                </div>
                            
                                <div class="current-user-passwor">
                                    <i class="fa-solid fa-lock"></i>
                                    <a href="{% url 'password_change' %}"class="button-paper">Change Password</a>
                                </div>
                            
                                <div class="current-user-pinchange">
                                    <i class="fa-solid fa-key"></i>
                                    <a href="{% url 'change_pin' %}"class="button-paper">Change Pin</a>
                                </div>
                            </div>
                        </div>
                    

                        <div class="makeus-admin">
                            {% if request.user.is_superuser or request.user.is_staff %}
                                <div class="collobarate-message">
                                    <h4>* Please note that if the request receiver rejects the request, you should not send another request to the same receiver *</h4>
                                    <a href="{% url 'colaborator' %}"><button type="button">List</button></a>
                                </div>
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    <label for="Username">Collaborate:</label>
                                    <div class="makeus-admin-container">
                                        <input type="text" placeholder="Enter User Name Want to Admin " name="admin">
                                        <button class="button-paper" role="submit">Send Request</button></a>   
                                    </div>
                                </form>
                            {% endif %}
                        </div>

                    </div>
                </div>
                
        </div>
        <div class="btn_container">
            <button id="button" class="submit_btn" type="submit"></button>
        </div>
    </div>

{% endif %}

{% if request.user.is_superuser == False or request.user.is_staff == False%}
    <div class="profile-right-bottom">
        <div class="profile-admin-details">
            <div class="profile-admin-header">
                <h3>Admin Details</h3>
            </div>
        
            <div class="profile-admin-main">
                <div class="profile-admin-name containers">
                    {% for admin in admins %}
                        <label for="name">Name</label>
                        <input type="text" value="{{ admin_name }}" id="user_name" disabled>
                    {% endfor %}
                </div>
            
                <div class="profile-admin-contact containers">
                    {% for admin in admins %}
                        <label for="name">Contact</label>
                        <input type="text"id="Contact"  name="Contact" value="{{ admin_ph}}" disabled>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="profile-current-user">
            <div class="current-user-header">
                <h3>Current User Details</h3>
            </div>
            
            <div class="current-user-main-content">
                <div class="current-user-main  bottom-containers">
                    <i class="fa-solid fa-user"></i>
                    <input type="text"id="currentusername" value="{{request.user}}" name="currentusername" placeholder="Name" readonly>
                </div>
            
                <div class="current-user-phone bottom-containers">
                    <input type="text"id="Currentphone" value="{{user_profile_data.phone_num}}" name="Currentphone" placeholder="Phone" readonly>
                    <i class="fa-solid fa-phone"></i>
                </div>
            
                <div class="current-user-passwor">
                    <i class="fa-solid fa-lock"></i>
                    <a href="{% url 'password_change' %}"class="button-paper">Change Password</a>
                </div>
            
                <div class="current-user-pinchange">
                    <i class="fa-solid fa-key"></i>
                    <a href="{% url 'change_pin' %}"class="button-paper">Change Pin</a>
                </div>
            </div>
        </div>

    </div>
{% endif %}
    <script src="{% static 'authentication/js/profile.js' %}"></script>
{% endblock content%}