{% extends 'base.html' %}
{% load static %}

{% block link %}{% static 'authentication/css/profile.css' %}{% endblock link%}
{% block link2 %}{% static 'authentication/css/nav.css' %} {% endblock link2 %}
{% block title %} MedRegia || Profile {% endblock title%}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 


{% block navbar %}
  {% include 'nav.html' %}
{% endblock navbar %}
 
{% block content%} 

{% include 'profile_message.html' %}

<!-- Include the Select2 CSS and JS files -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


{% if request.user.is_superuser or request.user.is_staff %}
<form action="#" method="post">
    {% csrf_token %}
    <div class="profile-container">
        <div class="profile-heading">
            <h3>Profile</h3>
        </div>
        <div class="profile-main">
            <div class="profile-left-full">
                
                    <div class="profile-main-left">
                        <div class="profile-main-left-top">
                            <div class="left-medical-name left-top-containers">
                                <label for="Medicalshop Name">Medicalshop Name :</label>
                                {% if data.MedicalShopName and data.MedicalShopName != "" %}
                                    <div class="profile-data">
                                        {{data.MedicalShopName}}
                                    </div>
                                {% else %}
                                    <input type="text" name="MedicalShopName" placeholder="Medical Shop Name" id="id_MedicalShopName">
                                {% endif %}
                                <span>
                                    {% if profile.errors.MedicalShopName %}
                                        {{profile.errors.MedicalShopName}}
                                    {% endif %}
                                </span>
                            </div>                            

                            <div class="left-pharmacy-name left-top-containers">
                                <label for="Medicalshop Name">Proprietary Name <span class="importent">*</span>:</label>
                                {% if data.ProprietaryName and data.ProprietaryName != "" %}
                                    <div class="profile-data">
                                        {{data.ProprietaryName }}
                                    </div>
                                {% else %}
                                    <input type="text" name="ProprietaryName" placeholder="ProprietaryName" id="id_ProprietaryName">
                                {% endif %}
                                <span>
                                    {% if profile.errors.ProprietaryName %}
                                        {{profile.errors.ProprietaryName}}
                                    {% endif %}
                                </span>
                            </div>

                            <div class="left-drug-1 left-top-containers">
                                <label for="Medicalshop Name">Drug Licenese Number1 <span class="importent">*</span>:</label>
                                {% if data.DrugLiceneseNumber1 and data.DrugLiceneseNumber1 != "" %}
                                    <div class="profile-data">
                                        {{data.DrugLiceneseNumber1 }}
                                    </div>
                                {% else %}
                                    <input type="text" name="DrugLiceneseNumber1" placeholder="Drug License Number 1" id="id_DrugLiceneseNumber1">
                                {% endif %}
                                <span>
                                    {% if profile.errors.DrugLiceneseNumber1 %}
                                        {{profile.errors.DrugLiceneseNumber1}}
                                    {% endif %}
                                </span>
                            </div>

                            <div class="left-proprietary-number left-top-containers">
                                <label for="Medicalshop Name">Proprietary Number <span class="importent">*</span>:</label>
                                {% if data.ProprietaryNumber and data.ProprietaryNumber != "" %}
                                    <div class="profile-data">
                                        {{data.ProprietaryNumber }}
                                    </div>
                                {% else %}
                                    <input type="text" name="ProprietaryNumber" placeholder="Proprietary Number" id="id_ProprietaryNumber">
                                {% endif %}
                                <span>
                                    {% if profile.errors.ProprietaryNumber %}
                                        {{profile.errors.ProprietaryNumber}}
                                    {% endif %}
                                </span>
                            </div>

                            <div class="left-drug-2 left-top-containers">
                                <label for="Medicalshop Name">Drug Licenese Number2 <span class="importent">*</span>:</label>
                                {% if data.DrugLiceneseNumber2 and data.DrugLiceneseNumber2 != "" %}
                                    <div class="profile-data">
                                        {{data.DrugLiceneseNumber2 }}
                                    </div>
                                {% else %}
                                    <input type="text" name="DrugLiceneseNumber2" placeholder="Drug License Number 2" id="id_DrugLiceneseNumber2">
                                {% endif %}
                                <span>
                                    {% if profile.errors.DrugLiceneseNumber2 %}
                                        {{profile.errors.DrugLiceneseNumber2}}
                                    {% endif %}
                                </span>
                            </div>

                            <div class="left-proprietary-contact left-top-containers">
                                <label for="Medicalshop Name">Proprietary Contact Number <span class="importent">*</span>:</label>
                                {% if data.ProprietaryContact and data.ProprietaryContact != "" %}
                                    <div class="profile-data">
                                        {{data.ProprietaryContact }}
                                    </div>
                                {% else %}
                                    <input type="text" name="ProprietaryContact" placeholder="Proprietary Contact" id="id_ProprietaryContact">
                                {% endif %}
                                <span>
                                    {% if profile.errors.ProprietaryContact %}
                                        {{profile.errors.ProprietaryContact}}
                                    {% endif %}
                                </span>
                            </div>

                        </div>
                        <div class="profile-main-left-bottom">
                            <div class="left-bottom-heading">
                                <h3>Register Address</h3>
                            </div>

                            <div class="profile-left-bottom-main">
                                <div class="left-bottom-state left-bottom-containers">
                                    <label for="Medicalshop Name">State :</label>
                                    {% if data.state and data.state != "" %}
                                        <div class="profile-data">
                                            {{data.state }}
                                        </div>
                                    {% else %}
                                        <div class="state_dropdown">
                                            <select id="state-dropdown">
                                                <option value="">Select State</option>
                                                <!-- Add options dynamically using JavaScript -->
                                            </select>
                                        </div>
                                    {% endif %}
                                    
                                </div>

                                <div class="left-bottom-district left-bottom-containers">
                                    <label for="Medicalshop Name">District :</label>
                                    {% if data.district and data.district != "" %}
                                        <div class="profile-data">
                                            {{data.district }}
                                        </div>
                                    {% else %}
                                        <div class="district_dropdown">
                                            <select id="district-dropdown">
                                                <option value="">Select District</option>
                                                <!-- Add options dynamically using JavaScript -->
                                            </select>
                                        </div>
                                    {% endif %}
                                    
                                </div>

                                <div class="left-bottom-city left-bottom-containers">
                                    <label for="Medicalshop Name">City :</label>
                                    {% if data.City and data.City != "" %}
                                        <div class="profile-data">
                                            {{data.City }}
                                        </div>
                                    {% else %}
                                        <input type="text" name="City" placeholder="City" id="id_City">
                                    {% endif %}
                                </div>

                                <div class="left-bottom-pincode left-bottom-containers">
                                    <label for="Medicalshop Name">Pincode :</label>
                                    {% if data.Pincode and data.Pincode != "" %}
                                        <div class="profile-data">
                                            {{data.Pincode }}
                                        </div>
                                    {% else %}
                                        <input type="text" name="Pincode" placeholder="Pincode" id="id_Pincode">
                                    {% endif %}
                                </div>

                                <div class="left-bottom-street left-bottom-containers">
                                    <label for="Medicalshop Name">StreetNumber :</label>
                                    {% if data.StreetNumber and data.StreetNumber != "" %}
                                        <div class="profile-data">
                                            {{data.StreetNumber }}
                                        </div>
                                    {% else %}
                                        <input type="text" name="StreetNumber" placeholder="Street Name" id="id_StreetNumber">
                                    {% endif %}
                                </div>

                                <div class="left-bottom-doornumber left-bottom-containers">
                                    <label for="Medicalshop Name">DoorNumber :</label>
                                    {% if data.DoorNumber and data.DoorNumber != "" %}
                                        <div class="profile-data">
                                            {{data.DoorNumber }}
                                        </div>
                                    {% else %}
                                        <input type="text" name="DoorNumber" placeholder="Door Number" id="id_DoorNumber">
                                    {% endif %}
                                </div>

                                <div class="left-bottom-unique-id">
                                    <label for="name">Unique ID :</label>
                                    <input type="text" value="{{unique_code}}" id="unique_id" readonly>
                                    <span></span>
                                </div>
                                <span><span class="importent">*</span> Must be Unique</span>
                            </div>
                        </div>

                    </div>
                </div>
                {% comment %}TODO: Profile Right styles {% endcomment %}
                <div class="profile-right-full">
                    <div class="profile-main-right-top">
                        <div class="profile-right-pharmacist right-top-containers">
                            <label for="Medicalshop Name">Pharmacist Name :</label>
                            {% if data.PharmacistName and data.PharmacistName != "" %}
                                <div class="profile-data">
                                    {{data.PharmacistName }}
                                </div>
                            {% else %}
                                <input type="text" name="PharmacistName" placeholder="Pharmacist Name" id="id_PharmacistName">
                            {% endif %}
                            <span>
                                {% if profile.errors.PharmacistyName %}
                                    {{profile.errors.PharmacistName}}
                                {% endif %}
                            </span>
                        </div>

                        <div class="profile-right-register right-top-containers">
                            <label for="Medicalshop Name">Registered Number <span class="importent">*</span>:</label>
                            {% if data.RegisteredNumber and data.RegisteredNumber != "" %}
                                <div class="profile-data">
                                    {{data.RegisteredNumber }}
                                </div>
                            {% else %}
                                <input type="text" name="RegisteredNumber" placeholder="Registered Number" id="id_RegisteredNumber">
                            {% endif %}
                            <span>
                                {% if profile.errors.RegisteredNumber %}
                                    {{profile.errors.RegisteredNumber}}
                                {% endif %}
                            </span>
                        </div>

                        <div class="profile-right-contactnumber right-top-containers">
                            <label for="Medicalshop Name">Contact Number :</label>
                            {% if data.ContactNumber and data.ContactNumber != "" %}
                                <div class="profile-data">
                                    {{data.ContactNumber }}
                                </div>
                            {% else %}
                                <input type="number" name="ContactNumber" placeholder="Contact Number" id="id_ContactNumber">
                            {% endif %}
                            <span>
                                {% if profile.errors.ContactNumber %}
                                    {{profile.errors.ContactNumber}}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    </form>     
            
                    <div class="profile-right-bottom">
                        <div class="profile-admin-details">
                            <div class="profile-admin-header">
                                <h3>Admin Details</h3>
                            </div>
                        
                            <div class="profile-admin-main">
                                <div class="profile-admin-name containers">
                                    <label for="name">Name</label>
                                    <input type="text" value="{{ admin_name }}" id="user_name" disabled>
                                </div>
                            
                                <div class="profile-admin-contact containers">
                                    <label for="name">Contact</label>
                                    <input type="text"id="Contact"  name="Contact" value="{{ admin_ph}}" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="profile-current-user">
                            <div class="current-user-header">
                                <h3>Current User Details</h3>
                            </div>
                            
                            <div class="current-user-main-content">
                                <div class="current-user-main  bottom-containers">
                                    <i class="fa-solid fa-user"></i>
                                    <input type="text"id="currentusername" value="{{request.user}}" name="currentusername" placeholder="Name" readonly>
                                </div>
                            
                                <div class="current-user-phone bottom-containers">
                                    <i class="fa-solid fa-phone"></i>
                                    <input type="text"id="Currentphone" value="{{user_profile_data.phone_num}}" name="Currentphone" placeholder="Phone" readonly>
                                </div>
                            
                                <div class="current-user-passwor">
                                    <i class="fa-solid fa-lock"></i>
                                    <a href="{% url 'password_change' %}"class="button-paper">Change Password</a>
                                </div>
                            
                                <div class="current-user-pinchange">
                                    <i class="fa-solid fa-key"></i>
                                    <a href="{% url 'change_pin' %}"class="button-paper">Change Pin</a>
                                </div>
                            </div>
                        </div>
                    
                        {% if hide_colaborator and hide_colaborator is not None %}
                            <div class="makeus-admin">
                                <h4 class="unable-to-request">"You are unable to send a collaboration request to another user as you are already an administrator for a different user." </h4>
                                <div class="collobarate-message">
                                    <a href="{% url 'colaborator' %}"><button type="button">List</button></a>
                                </div>
                            </div> 
                        {% else %}
                            <div class="makeus-admin">
                                {% if request.user.is_superuser or request.user.is_staff %}
                                    <div class="collobarate-message">
                                        <h4>* Please note that if the request receiver rejects the request, you should not send another request to the same receiver *</h4>
                                        <a href="{% url 'colaborator' %}"><button type="button">List</button></a>
                                    </div>
                                    <form action="#" method="post">
                                        {% csrf_token %}
                                        <label for="Username">Collaborate:</label>
                                        <div class="makeus-admin-container">
                                            <input type="text" placeholder="Enter User Name Want to Admin" id="admin-input" name = "adminName">
                                            <button class="button-paper" type="button" id="send-request-button">Send Request</button>
                                        </div>
                                        <div id="response-container" class="respone-container"></div>
                                    </form>
                                {% endif %}
                            </div>
                        {% endif %}

                    </div>
                </div>
                
        </div>
        {% if data.RegisteredNumber and data.RegisteredNumber != "" %}

        {% else %}
            <div class="btn_container">
                <button id="submit_button" class="submit_btn" type="button"></button>
            </div>
        {% endif %}
    </div>

{% endif %}

{% if request.user.is_superuser == False or request.user.is_staff == False%}
    <div class="profile-right-bottom">
        <div class="profile-admin-details">
            <div class="profile-admin-header">
                <h3>Admin Details</h3>
            </div>
        
            <div class="profile-admin-main">
                <div class="profile-admin-name containers">
                    <label for="name">Name</label>
                    <input type="text" value="{{ admin_name }}" id="user_name" disabled>
                </div>
            
                <div class="profile-admin-contact containers">
                        <label for="name">Contact</label>
                        <input type="text"id="Contact"  name="Contact" value="{{ admin_ph}}" disabled>
                </div>
            </div>
        </div>

        <div class="profile-current-user">
            <div class="current-user-header">
                <h3>Current User Details</h3>
            </div>
            
            <div class="current-user-main-content">
                <div class="current-user-main  bottom-containers">
                    <i class="fa-solid fa-user"></i>
                    <input type="text"id="currentusername" value="{{request.user}}" name="currentusername" placeholder="Name" readonly>
                </div>
             
                <div class="current-user-phone bottom-containers">
                    <i class="fa-solid fa-phone"></i>
                    <input type="text"id="Currentphone" value="{{user_profile_data.phone_num}}" name="Currentphone" placeholder="Phone" readonly>
                </div>
            
                <div class="current-user-passwor">
                    <i class="fa-solid fa-lock"></i>
                    <a href="{% url 'password_change' %}"class="button-paper">Change Password</a>
                </div>
            
                <div class="current-user-pinchange">
                    <i class="fa-solid fa-key"></i>
                    <a href="{% url 'change_pin' %}"class="button-paper">Change Pin</a>
                </div>
            </div>
        </div>

    </div>
{% endif %}
    <script src="{% static 'authentication/js/profile.js' %}"></script>
{% endblock content%}