/* .message {
    height: 40px;
    width: 18%;
    background-color: #04aa6d;
    color: #ffff;
    position: absolute;
    top: 12%;
    left: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
  }
  .close-button {
    font-size: 20px;
    position: relative;
    left: 60px;
    background-color: transparent;
    border: none;
    color: #fff;
  } */