{% extends 'base.html' %}
{% load static %}
{% block title %} MedRegiA || InviteUser {% endblock title %}
{% block link %} {% static 'invclc/css/invite_user.css' %} {% endblock link %}

{% block message %}
  {% include 'message.html' %}
{% endblock message %}

{% block content %}
<div class="container">
    <h1>Welcome to Medregia</h1>
    <p class="greeting-message">You have been invited to join Medregia by <span id="inviter-name">Sender Name</span>. Please review and complete your details below to get started.</p>
    <form id="user-details-form" method="post">
        {% csrf_token %}
      <div class="form-group">
        <label for="userposition">User Position</label>
        <div class="input-container">
          <input type="text" id="userposition" value="{{userposition}}" disabled name="new_userposition">
        </div>
        <span class="error-message" id="new_userposition-error"></span>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-container">
          <input type="text" id="username" value="{{username}}" name="new_username" disabled>
          <span class="edit-icon" onclick="toggleEdit('username')">&#9998;</span>
        </div>
        <span class="error-message" id="new_username-error"></span>
      </div>
      <div class="form-group">
        <label for="useremail">User Email</label>
        <div class="input-container">
          <input type="email" id="useremail" value="{{useremail}}" name="new_useremail" disabled>
          <span class="edit-icon" onclick="toggleEdit('useremail')">&#9998;</span>
        </div>
        <span class="error-message" id="new_useremail-error"></span>
      </div>
      <div class="form-group">
        <label for="userphonenumber">User Phone Number</label>
        <div class="input-container">
          <input type="text" id="userphonenumber" value="{{userphonenumber}}" name="new_userphonenumber" disabled>
          <span class="edit-icon" onclick="toggleEdit('userphonenumber')">&#9998;</span>
        </div>
        <span class="error-message" id="new_userphonenumber-error"></span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" required name="new_userpassword">
        <span class="error-message" id="new_userpassword-error"></span>
      </div>
      <div class="form-group">
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" id="confirmpassword" required name="new_userconfirmpassword">
        <span class="error-message" id="new_userconfirmpassword-error"></span>
      </div>
      <div class="form-group">
        <label for="pin">PIN</label>
        <input type="text" id="pin" required name="new_userpin">
        <span class="error-message" id="new_userpin-error"></span>
      </div>
      <div class="form-group">
        <label for="usertype">Categories</label>
        <select id="usertype" required onchange="toggleOtherTypeField()" name="new_usertype">
          <option value="">-- Select Categories --</option>
          <option value="retailer">Retailer</option>
          <option value="manufacturer">Manufacturer</option>
          <option value="pharmacy">Pharmacy</option>
          <option value="medical">Medical</option>
          <option value="others">Others</option>
        </select>
        <span class="error-message" id="new_usertype-error"></span>
      </div>
      <div class="form-group" id="other-type-group" style="display: none;">
        <label for="othertype">Other Type</label>
        <input type="text" id="othertype" name="new_userothertype">
        <span class="error-message" id="new_userothertype-error"></span>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>

<script src="{% static 'invclc/js/invite_user.js' %}"></script>
{% endblock content %}
