{% load static %}
<nav class="invclc-nav">
  <div class="nav-headings">
    <div class="header">
      <a href="{% url 'index' %}">Home</a>
    </div>
  
    <div class="nav-heading">
      <a href="{% url 'index' %}">MedRegiA</a>
    </div>
  
  </div>
  
  <div class="nav-links">
      {% if notifications|length >= 1 %}
        <span class="bell"><i id="bell" class="fa-regular fa-bell"></i><span class="notify-alert"></span></span>  
      {% else %}
        <span class="bell"><i id="bell" class="fa-regular fa-bell"></i></span>  
      {% endif %}

      {% if request.user.is_superuser or request.user.is_staff %}
        <a href="{% url 'admin:index' %}">Admin</a>
      {% endif %}

      <a href="{% url 'profile' %}"><span class="profile-content"><img src="{% static 'authentication/images/profile.png'%}" class="user-pic" alt="profile" title="{{request.user}}"></span></a>

      <a href="{% url 'logout' %}">Logout</a>
  </div>
  
  <div class="menu">
    <div class="menu-line"></div>
    <div class="menu-line"></div>
    <div class="menu-line"></div>
  </div>

</nav>


<div class="notifications hide">
  {% comment %} <div class="notification-count">{{ notifications|length }}</div> {% endcomment %}
  {% if notifications %}
    <!-- Display the count of notifications -->    
    {% for notify in notifications %}
      {% if request.user.username == notify.request_receiver.username %}
        {% if request.user.is_staff %}

          {% if notify_message %}
          <div id="admin-request-message" class="admin-request"> 
            <div class="admin-body">
              <h4>User <span>"{{ notify.request_sender }}"</span> Wants to Collaborate with You <span>"{{ notify.request_receiver }}"</span></h4>
              
              {% if incomplete_message %}
                <span>{{incomplete_message}}</span>
              {% else %}
                <span>but Pease Update Your Profile then asscess the request</span>
              {% endif %}
            </div>
          </div>
          {% else %}
            <div id="admin-request-message" class="admin-request"> 
              <p>Collaboration Request</p>
            
              <div class="admin-body">
                <div class="admin-message-header">
                  <h4>User <span>"{{ notify.request_sender }}"</span> Wants to Collaborate with You <span>"{{ notify.request_receiver }}"</span></h4>
                </div>
    
                <div class="admin-submit">
                  <form method="post" action="{% url 'admin_cancel' %}" id="action_cancel">
                    {% csrf_token %}
                    <button type="submit" class="cancel">Reject</button>
                  </form>
                  <form method="post" action="{% url 'confirm_admin' sender_uniqueId %}" id="admin_action">
                    {% csrf_token %}
                    <button type="submit" class="confirm">Accept</button>
                  </form>
                </div>
              </div>
    
            </div>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  
  {% else %}
    <div class="notify-me">
      <h5>Your Message Notifications Here</h5><br>
      {% include 'notification_message.html' %}
    </div>
  {% endif %}
</div>


<script>
$(document).ready(function() {
  // When cancel button is clicked, hide the notification
  $('.cancel').click(function() {
    $('.admin-request').addClass('cover');
  });

  // When confirm button is clicked, submit the form
  $('.confirm').click(function() {
    $('#admin_action').submit();
    // After submitting the form, hide the notification
    $('.admin-request').addClass('cover');
  });
  
});
</script>


<script src="{% static 'authentication/js/nav.js' %}"></script>