{% load static %}
<nav>
  <div class="header">
    <a href="{% url 'index' %}">Home</a>
  </div>

  <div class="nav-heading">
    <a href="{% url 'index' %}">MedRegiA</a>
  </div>

  <div class="nav-links">
      <span class="bell"><i id="bell" class="fa-regular fa-bell"></i></span>  

      {% if request.user.is_superuser or request.user.is_staff %}
        <a href="{% url 'admin:index' %}">Admin</a>
      {% endif %}

      <a href="{% url 'profile' %}"><span><img src="{% static 'authentication/images/profile.png'%}" class="user-pic" alt="profile" title="{{request.user}}"></span></a>

      <a href="{% url 'logout' %}">Logout</a>
  </div>
  
</nav>


<div class="notifications hide">
  {% for notify in notifications %}
    {% if request.user.username == notify.receiver.username %}
      {% if request.user.is_staff == True %}
        <div id="admin-request-message" class="admin-request"> 
          <p>Collaboration Request</p>
          <h4>User {{notify.sender}} Wants to Collaborate with You {{notify.receiver }}</h4>

          <form method="post" action="{% url 'confirm_admin' %}" id="admin_action">
            {% csrf_token %}
            <input class="confirm" type="submit" value="Confirm">
          </form>
          <form method="post" action="{% url 'admin_cancel' %}" id="action_cancel">
            {% csrf_token %}
            <input class="cancel" type="submit" value="cancel">
          </form>

        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
  <h5>Your Message Notifications Here</h5>
  <div class="notify-me">
    {% include 'notification_message.html' %}
  </div>
</div>

<script>
$(document).ready(function() {
  // When cancel button is clicked, hide the notification
  $('.cancel').click(function() {
    $('.admin-request').addClass('cover');
  });

  // When confirm button is clicked, submit the form
  $('.confirm').click(function() {
    $('#admin_action').submit();
    // After submitting the form, hide the notification
    $('.admin-request').addClass('cover');
  });
});
</script>


<script src="{% static 'authentication/js/nav.js' %}"></script>