{% load static %}
<div class="navbar">
    <div class="sidebar sidebar-closed" id="sidebar">
        {% comment %} <h3 id="medregiaHeader">Medregia</h3> {% endcomment %}
        <a href="{% url 'index' %}" class="logo">
            <!-- <img src="{% static 'authentication/images/invoice1.png' %}" alt=""> -->
            <i class="fa-solid fa-file-invoice-dollar"></i>
            <!-- <span class="nav-item">Invoice</span>  -->
            <p class="nav-item"> Invoice</p>
        </a>

        <a href="{% url 'statics' %}" class="logo">
            <!-- <img src="{% static 'authentication/images/static.png' %}" alt=""> -->
            <i class="fa-solid fa-chart-pie"></i>
            <!-- <span class="nav-item">Static</span>  -->
            <p class="nav-item"> Static</p>
        </a>

        <a href="{% url 'clinic' %}" class="logo">
            <!-- <img src="{% static 'authentication/images/clinic.png' %}" alt=""> -->
            <i class="fa-solid fa-house-chimney-medical"></i>
            <!-- <span class="nav-item">Clinic</span>  -->
            <p class="nav-item"> Clinic</p>
        </a>

        <a href="{% url 'import-export' %}" class="logo expo">
            <!-- <img src="{% static 'authentication/images/import.png' %}" alt=""> -->
            <i class="fa-solid fa-boxes-packing"></i>
            <!-- <span class="nav-item">Export/Import</span>  -->
            <p class="nav-item ">Export/Import</p>
        </a>

        <a class="logo" id="notification-icon">
            {% if notifications|length >= 1 %}
                <span class="bell"><i class="fa fa-commenting"></i><span class="notify-alert"></span></span>  
            {% else %}
                <span class="bell"><i class="fa fa-commenting"></i></span>  
            {% endif %}
            
            <p class="nav-item">Notification</p>
        </a>

        <div class="toggle-btn" onclick="toggleSidebar()">
            <div class="arrow">&#9664;</div>
        </div>
    </div>
</div>

<div id="popup-backdrop" ></div>

<div id="notification-popup" class="notification-popup">
    <h2>{{get_MedicalName}}</h2>
    <div class="popup-content">
        <span class="close-btn" id="close-popup">&times;</span>
        <div class="notification-head">
            <h3>Notifications</h3>
        </div>
       

        <div class="notification-scrollcontent">
            {% if notifications %}
                <!-- Display the count of notifications -->    
                {% for notify in notifications %}
                    {% if request.user.username == notify.request_receiver.username %}
                        {% if request.user.is_staff %}
                            {% if notify_message %}
                                <div id="admin-request-message" class="admin-request"> 
                                    <div class="admin-body">
                                        <h4>User <span>"{{ notify.request_sender }}"</span> Wants to Collaborate with You <span>"{{ notify.request_receiver }}"</span></h4>
                                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{ timestamp }}</p>
                                        {% if incomplete_message %}
                                            <span>{{ incomplete_message }}</span>
                                        {% else %}
                                            <span>but Please Update Your Profile to access the request</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <div id="admin-request-message" class="admin-request"> 
                                    <p>Collaboration Request</p>
                                    <div class="admin-body">
                                        <div class="admin-message-header">
                                            <h4>User <span>"{{ notify.request_sender }}"</span> Wants to Collaborate with You <span>"{{ notify.request_receiver }}"</span></h4>
                                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{ timestamp }}</p>
                                        </div>
                                        <div class="admin-submit">
                                            <form method="post" action="{% url 'admin_cancel' sender_uniqueId %}" id="action_cancel">
                                                {% csrf_token %}
                                                <button type="submit" class="cancel">Reject</button>
                                            </form>
                                            <form method="post" action="{% url 'confirm_admin' sender_uniqueId %}" id="admin_action">
                                                {% csrf_token %}
                                                <button type="submit" class="confirm">Accept</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% elif all_notifications %}
                {% for all_messages in all_notifications %}
                    {% if all_messages.is_read and not all_messages.accept_status %}
                        <div class="admin-message-header">
                            <h4><span>"{{ all_messages.request_receiver }}"</span> Request Was Rejected</h4>
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{ all_messages.timestamp }}</p>
                        </div>
                    {% elif all_messages.is_read and all_messages.accept_status %}
                        <div class="admin-message-header">
                            <h4><span>"{{ all_messages.request_receiver }}"</span> Request Accepted</h4>
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{ all_messages.timestamp }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="notify-me">
                    <h5>Your Message Notifications Here</h5><br>
                    {% include 'notification_message.html' %}
                </div>
            {% endif %}
        </div>
        <div class="view-btn">
            <button id="view-all-btn" class="view-all-btn">View All</button>
        </div>
    
    </div>
</div>
<script src="{% static 'authentication/js/sidebar.js' %}"></script>