*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100%;
}
main {
    display: flex;
    justify-content: end;
    padding: 5px;
}
.admin-container{
    width: 80%;
}
.admin-container h2{
    text-align: center;
}
.table-content {
    width: 95%;
    border-collapse: collapse;
    margin: 20px 0;
    margin-left: 35px;
    font-family: Arial, sans-serif;
    color: #333;
    overflow-x: scroll;
}

.make-table-scrollable{
    height: auto;
    /* width: 100%; */
    overflow-x: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: white;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    max-width: 100px;
    overflow: hidden;
    padding: 0;
    position: relative;
    height:30px;
}

.input-container {
    max-width: 100px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888 #f2f2f2; /* Firefox */
    transition: max-width 0.3s ease;
}

.input-container input {
    width: 90px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 12px;
    background-color: transparent;
    white-space: nowrap;
}

.input-container::-webkit-scrollbar {
    height: 6px;
}

.input-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.input-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.input-container::-webkit-scrollbar-track {
    background: #f2f2f2;
}

tr:hover td {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.admin-access {
    height: auto;
    width: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-access h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.admin-access form {
    display: flex;
    flex-direction: column;
}

.admin-access .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.admin-access .form-group label {
    /* flex: 1;
    width: 350px;
    margin-right: 5px;
    font-weight: bold; */
    width: 100%;
}

.admin-access .form-group input {
    flex: 2;
    width: 50px;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

.admin-access button{
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.link-btn{
    height: 25px;
    width: 50%;
    background-color: #3498db;
    color:#fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.addUser input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.addUser button[type="submit"] {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #2980b9;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.addUser button[type="submit"]:hover {
    background-color:#2980b9;
}

.mail-status{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Details{
    height: 40vh;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
}
.Details-data{
    margin: 8px 18px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.Details-data label{
    flex: 1;
    width: 350px;
    margin-right: 10px;
    font-weight: bold;
}
.Details-data input{
    flex: 2;
    width: 50px;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}
.Details-data select{
    flex: 2;
    width: 50px;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

.Details button[type="submit"] {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #2980b9;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#id_Whatsapp_link {
    padding-right: 30px; /* Adjust this value if needed */
}

#copy_button {
    position: absolute;
    right: 1px;
    padding: 4px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}


/* Button styles */
.button {
    
    background-color: #007BFF;
    color: white;
    padding: 8px 18px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.button_submit{
    width: 90px;
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 38%;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}


/* Popup box style */
.popup {
    display: none;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    animation: fadeIn 0.5s;
}

/* Fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Popup content style */
.popup-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: none;
    width: 35%;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
    animation: slideIn 0.5s;
}

/* Slide-in animation */
@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* Close button style */
.close {
    color: #333;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: #ff6b6b;
    text-decoration: none;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

/* .Details {
    display: flex;
    flex-direction: column;
} */

.Details-data {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-field {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.3s, transform 0.3s;
    font-size: 14px;
}

.input-field:focus {
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
    transform: scale(1.02);
    border-color: #007BFF;
}

/* Mail status styles */
.mail-status {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
}


#add_user p{
    color: red;
    text-align: center;
    width: 100%;
    /* background-color: #888; */
    font-size: 11px;
}
#add_user p b{
    color: blue;
}


/* Base styles for the alert message */
.alert-message {
    padding: 10px;
    margin-top: 10px;
    display: none; /* Hide by default */
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

/* Success message styles */
.alert-success {
    color: green;
    border: 1px solid green;
    background-color: #e6ffe6;
}

/* Error message styles */
.alert-error {
    color: red;
    border: 1px solid red;
    background-color: #ffe6e6;
}

/* Animation for the error message */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* Applying the shake animation to error messages */
.shake {
    animation: shake 0.5s;
    animation-iteration-count: 2;
}


.current-user-pass{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}




.users{
    min-height: 26vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    overflow-x: scroll;
  }
  
  .users_table {
    max-height: 20vh;
    /* width: 90%; */
    overflow-y: auto; /* Change to 'auto' to only show scrollbar when needed */
  }
  
  .users_table table {
    max-width: 100%;
    border-collapse: collapse;
  }
  
  
  .users_table td {
    border: 1px solid #d3d1d1;
    height: 30px;
    text-align: center;
    padding: 0;
  }
  
  .users_table th {
    border: 1px solid #d3d1d1;
    height: 30px;
    background-color: #dbd9d9;
    position: sticky;
    top: 0;
  }

.icon {
    cursor: pointer;
}
.disabled {
    cursor: not-allowed;
}

.blur{
    position: relative;
}
.blur-content {
    height: 30px;
    width: 300px;
    /* background-color: #bbb9b9; */
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 15%;
    z-index: 101;

}

.blurred {
    filter: blur(5px);
    pointer-events: none;
}

/* Pop Up content  */

/* Container to center the content */
.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

/* Popup Container */
.message-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Popup Box */
.message-popup .message-header {
    background-color: #007BFF;
    color: #fff;
    padding: 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.message-popup form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-body {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#popup-form {
    display: flex;
    flex-direction: column;
}

#popup-form h4 {
    color: #333; 
    font-size: 20px;
    margin-bottom: 20px; 
    text-align: center; 
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; 
}

.form-group label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
    width: 480px;
}

.form-group input[type="text"],
.form-group input[type="hidden"] {
    width: calc(100% - 20px); 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; 
}

.form-group input[type="hidden"] {
    background-color: #d1c9c9; 
}

.button-group {
    display: flex;
    justify-content: space-evenly; 
}

.button-group button {
    background-color: blue; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.button-group button:hover {
    background-color: #0056b3; 
}

.button-group button#abort-btn {
    background-color: #6c757d; 
}

.button-group button#abort-btn:hover {
    background-color: #5a6268; 
}


.message-content.popup-form {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 20px; 
    max-width: 5f50px; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    display: none;
}

.message-content.popup-form h3 {
    color: green; 
    font-size: 22px; 
    margin-bottom: 20px; 
}

.message-content.popup-form button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.message-content.popup-form button:hover {
    background-color: #0056b3; 
}

.message-content.popup-form button#abort-btn {
    background-color: #6c757d; 
}

.message-content.popup-form button#abort-btn:hover {
    background-color: #5a6268; 
}

.register-medicals {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px; 
    padding: 20px; 
    max-width: 500px; 
    margin: 20px auto;
    text-align: center; 
    display: none;
}

.register-medicals h3 {
    color: #4CAF50; 
    font-size: 18px; 
    margin-bottom: 20px; 
}

.register-medicals button {
    background-color: blue; 
    color: white; 
    border: none; 
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer; 
    margin: 5px; 
}

.register-medicals button:hover {
    background-color: blue; 
}

.register-medicals button#abortrecord {
    background-color: grey; 
}

.register-medicals button#abortrecord:hover {
    background-color: grey; 
}

.open-admin-access{
    /* min-height: 100vh; */
    width: 50px;
    /* background-color: #e0dede; */
    display: none;
}

@media (min-width:1100px) and (max-width:1300px){
    .make-table-scrollable{
        margin-left: 140px
    }
}

@media (max-width:1100px){
    .make-table-scrollable{
        margin-left: 100px
    }
}

@media (max-width:932px){
    .admin-access h2{
        font-size: 16px;
    }
}

@media (max-width:880px){
    .current-user-pass{
        flex-direction: column;
    }
    .Details-data{
        margin: 5px;
        height: auto;
        /* background-color: red; */
        flex-direction: column;
    }
    .Details-data label{
        width: 150px;
        margin-right: 1px;
    }
    .Details-data input{
        width: 100%;
    }
    .Details-data select {
        width: 100%;
    }
    #copy_button{
        top: 10px;
    }
}

@media (max-width:650px){
    .admin-access{
        width: 100%;
    }
}

@media (min-width:684px) and (max-width:880px){
    .make-table-scrollable {
        margin-left: 80px;
    }
}