/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Container Styles */
.checkmore-container {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
.checkmore-container h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
}

/* Button Styles */
.checkmore-container-btn {
    text-align: center;
    margin-bottom: 20px;
}

.csvBtn, .check_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.csvBtn {
    background-color: #28a745;
    color: white;
}

.check_btn {
    background-color: #007bff;
    color: white;
}

.csvBtn:hover, .check_btn:hover {
    opacity: 0.8;
}

/* Table Styles */
.table-container {
    overflow-x: auto;
}

.checkmoreTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.checkmoreTable thead {
    background-color: #007bff;
    color: white;
}

.checkmoreTable th, .checkmoreTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.checkmoreTable th {
    position: sticky;
    top: 0;
}

.checkmoreTable tbody tr:hover {
    background-color: #f1f1f1;
}

.checkmoreTable input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

/* Scrollable Cells */
.scrollable-cell {
    max-height: 25px;
    overflow-y: scroll;
    max-width: 75px;
    min-width: 100px;
    text-align: center;
}

.scrollable-cell.expand {
    max-height: 25px;
    max-width: 100px;
    min-width: 100px;
    overflow-y: scroll;
    text-align: center;
}

.checkmoreTable td.invoice-amount, .checkmoreTable td.paid-details {
    max-height: 100px; /* Adjust height as needed */
    overflow-y: auto;
}

/* Status Styles */
.medicalstatus, .pharmacystatus {
    text-align: center;
    font-weight: bold;
}

.medicalstatus .status, .pharmacystatus .loginstatus {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
}

.medicalstatus .status {
    background-color: #28a745;
}

.pharmacystatus .loginstatus {
    background-color: #ffc107;
}


/* Responsive Design */
@media (max-width: 768px) {
    .checkmore-container {
        padding: 10px;
        margin: 10px;
    }

    .csvBtn, .check_btn {
        font-size: 12px;
        padding: 8px 15px;
    }

    .checkmore-container h3 {
        font-size: 20px;
    }

    .checkmoreTable th, .checkmoreTable td {
        padding: 10px;
    }
}

@media (max-width:1299px){
    .checkmore-container{
        margin-left: 50px;
    }
}