* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    font-family: 'Times New Roman';
}
.checkmore-container{
    height: 100vh;
    width: 100%;
    position: absolute;
}
.checkmore-container-paid{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    
}
.checkmore-container-btn{
    height: 50px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
}
.checkmore-container .csvBtn{
    color: white;
    background-color: blue;
    cursor: pointer;
    height: 40px;
    width: 100px;
    margin-right: 20px;

}
h3{
    text-align: center;
    font-size: 25px;
    
}
.checkmoreTable{
    /* height: 100vh; */
    width: 100%;
    position: absolute;
    border-collapse: collapse;
}

.checkmoreTable tr{
    border-bottom: 1px solid #a39f9f ;
}
.checkmoreTable th , .checkmoreTable td{
    padding: 12px 15px;
    text-align: center;
    border-right: 1px solid #bdb8b8 ;
}
.checkmoreTable th{
    background-color: #6b6060;
    color: white;
}
.checkmoreTable tr:nth-child(even){
    background-color: #eeeeee;
}
button.check_btn{
    height: 40px;
    width: 60px;
    background-color: blue;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

span.status{
    display:inline-block;
    height: 10px;
    width:20px;
    background-color:rgba(4, 176, 4,0.9);
  }
  
  span.loginstatus{
    display:inline-block;
    height: 10px;
    width:20px;
    background-color:rgba(186, 27, 10, 0.9);
  }
  
  input{
    height:40px;
    width:90%;
  }
  
  .invoice_message {
    height: 40px;
    width: 17%;
    background-color: #04aa6d;
    color: #ffff;
    position: absolute;
    top: 12%;
    left: 77%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
  }

  .scrollable-cell {
    max-height: 40px;
    max-width: 90px;
    overflow-y: auto;
}

.expand{
    max-width: 150px;
}