body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.tab {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 200px;
  font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  height: 100vh;
  width: 98%;
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.box-container{
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 5px;
}
.export1{
  height: 100vh;
  width: 75%;
  /* background-color: #ddd; */
}

.address-container{
  height: 200px;
  width: 100%;
  /* background-color: beige; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

.address-details{
  /* background-color: bisque; */
  max-height: 100vh;
  max-width:100%;
}
.export-content{
  width: 100%;
  /* background-color: #007bff; */
}
.export-content table{
  width: 100%;
}
  
.export-content table th, .export-content table td {
  border: 1px solid #ddd;
  text-align: left;
  /* background-color: #007bff; */
}
.export-content table th {
  background-color: #c7c7c7;;
  top: 48px;
  position: sticky;
}
.export-content table th:hover{
  background-color: #a8a3a3;
}
  
.export-content table tr:nth-child(even) {
  background-color: #f2f2f2;
}
  
.export-content table tr:hover {
  background-color:#ddd;
}
form{
  /* background-color: aqua; */
  height: 60px;
  width:99% ;
  display: flex;
  align-items: center;
  margin-top: 40px;
  background-color: floralwhite;
}
  
  
.box-print1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* Set the flex direction to column */
}
  
.check {
  display: flex; /* Align items vertically */
  margin-top: 25px; /* Add some space between each checkbox */
}
  
.box-print1 label {
  margin-right: -70px;
  margin-top: 3px; /* Add space between label and input */
}
.box-print1 input{
  height: 20px;
}
.box-print1  button{
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}
.box-print1 button:hover {
  background-color:#0056b3;
}
/* export2 */

.export2{
  height: 100vh;
  width: 25%;
  background-color: #fffcfc;
  box-shadow:0px 0px 10px 0px black;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.export2 form{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #007bff; */

}
.check-list{
  height:4vh;
  width: 70%;

}
.export2-box1{
  width: 100%;
  /* background-color: rgba(8, 39, 216,0.6); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom:1px solid black;
  box-shadow:0px 2px 2px 0px black;
}
.export2-box2{
  height: 20vh;
  width: 100%;
  /* background-color: #007bff; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.export2-box2-content{
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.export2-box3{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #0056b3;*/
}
#checkboxTable{
  border-collapse: collapse;
  width:200px;
}

#checkboxTable th, #checkboxTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#checkboxTable th {
  background-color: #ffffff;
}


.selected {
  background-color:#ffffff;
}


@media print{
  body{
    border:1px solid black;
  }
  .navbar,.tab,.export2,.box-print1{
    display:none;
  }
  .export1{
    width:96%;
  }
}