body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


.import-content{
  height:auto;
  width:100%;

}

.panel-container{
  min-height:20vh;
  width:100%;
  font-family: 'Times New Roman';
  /* background-color:red; */
  display:flex;
  justify-content:center;
  align-items:center;
}
 
.panel-container .box2{
  height:18vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:rgba(223, 223, 223, 0.3);
  column-gap:10px;
  border-radius:3px;
}

.panel-container .box2 .btn{
  height:65px;
  width:31%;
  display:flex;
  justify-content:center;
  align-items:center;
  /* background-color:#FFFF; */
}

/* .panel-container .box2 .btn button{
  height:60px;
  width:200px;
  border:none;
  box-shadow:0px 0px 10px 0px black;
  cursor:pointer;
  border-radius:3px;  
  font-size:18px;
  background-color:pink;
} */

.panel-container .box2 .btn button:active{
  box-shadow:0px 0px 20px 0px black;
}

.lastbox .lastbox-content{
  /* height:20vh; */
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  /* background-color:blue; */
}
/* table#table1{
  width:100%;
  justify-content:center;
  align-items:center;
  margin-left: 35%;
} */
.lastbox .lastbox-content .lastbox-center{
  height:18vh;
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  row-gap:10px;
  align-items:center;
}

.lastbox .lastbox-content .lastbox-center .lastbox-content-formate,
.lastbox .lastbox-content .lastbox-center .lastbox-content-agency{
  height:9vh;
  width:50%;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  /* background-color:pink; */
}

.lastbox .lastbox-content .lastbox-center .lastbox-content-formate select{
  height:40px;
  width:80%;
}

.lastbox .lastbox-content .lastbox-center .lastbox-content-agency input{
  height:40px;
  width:70%;
  padding-left:20px;
}

.lastbox .lastbox-content .lastbox-center .lastbox-content-formate select option{
  height:40px;
  /* padding:10px; */
  /* background-color:red; */
}

#csvContainer{
  text-align: center;
}  
#csvTable{
  width: 100%;
  margin: auto;
 

}
#csvTable tr , #csvTable td{
  border: 1px solid #ccc;
  text-align: left;
}
#tableContainer{
  text-align: center;

}
#table2{
  width: 100%;
  /* margin-left: 35%; */
}
#table2 tr , #table2 td, #table2 th{
  border: 1px solid #ccc;
  /* text-align: left; */
  width: 260px;
}


#Upload{
  /* height: 45px; */
  width: 100%;
  /* background-color: red; */
  margin-top: 8px;
  
}
/* #Upload button{
  height: 35px;
  width: 80px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
} */

input.csv-field{
  height:60px;
  width:500px;
  border:none;
  box-shadow:0px 0px 10px 0px black;
  cursor:pointer;
  border-radius:3px;  
  font-size:18px;
}