/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Container Styles */
.paymore-container {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
}

/* Header Styles */
.paymore-header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
}

/* Button Styles */
.paymore-button-container {
    text-align: center;
    margin-bottom: 20px;
}

.csvBtn, .payBtn, .cancelBtn {
    /* padding: 10px 20px; */
    height: 40px;
    max-width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.paymore-container-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.csvBtn {
    background-color: #28a745;
    color: white;
    height: 40px;
    padding: 12px;
}

.paymore-container h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.payBtn {
    background-color: #007bff;
    color: white;
}

.cancelBtn {
    background-color: #6c757d;
    color: white;
    display: none; /* Adjust display property based on need */
}

.csvBtn:hover, .payBtn:hover, .cancelBtn:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

/* Table Styles */
.table-container {
    overflow-x: auto;
}

.paymoreTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.paymoreTable thead {
    background-color: #007bff;
    color: white;
}

.paymoreTable th, .paymoreTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.paymoreTable th {
    position: sticky;
    top: 0;
    font-size: 14px;
    text-align: center;
}

.paymoreTable tbody tr:hover {
    background-color: #f1f1f1;
}

.paymoreTable input[type="text"] {
    width: 100px;
    padding: 8px;
    /* border: 1px solid #ccc; */
    border: none; 
    border-radius: 4px;
    /* background-color: #f8f9fa; */
    background-color: transparent;
    box-sizing: border-box;
}

.paymoreTable input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .paymore-container {
        padding: 10px;
        margin: 10px;
    }

    .csvBtn, .payBtn, .cancelBtn {
        font-size: 12px;
        padding: 8px 15px;
    }

    .paymore-header {
        font-size: 20px;
    }

    .paymoreTable th, .paymoreTable td {
        padding: 10px;
    }
}

@media (min-width:1700px){
    .paymoreTable input[type="text"]{
        width: 100%;
    }
}

.scrollable-cell {
    max-height: 25px;
    overflow-y: scroll;
    max-width: 75px;
    min-width: 100px;
    text-align: center;
}

.scrollable-cell.expand {
    max-height: 25px;
    max-width: 100px;
    min-width: 100px;
    overflow-y: scroll;
    text-align: center;
}