body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
}

.static-container {
    display: flex;
    height: 100vh;
    width: 96%;
    margin-left: 50px;
    background-color: #f0f0f0;
}

.left-side {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 92%;
}

.left-box {
    width: 93%;
    height: 70vh;
    background-color: white;
    padding: 25px;
    box-shadow: 0px 0px 3px 0px #ccc;
    border-radius: 10px;

}

.mainbox {
    height: 140px;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.firstbox {
    height: 35px;
    /* background-color: brown; */
    display: flex;
    justify-content: space-evenly;
}

.firstbox1 {
    height: 35px;
    /* background-color: brown; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    align-items: center;
}

.firstbox select {
    height: 30px;
    width: 90px;
}

.firstbox1 input {
    height: 25px;
}

.firstbox1 label {
    font-weight: 600;
}

.mainbox2 {
    height: 140px;
    /* background-color:yellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mainbox3 {
    height: 230px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color:pink; */
    padding: 5px;
    justify-content: space-evenly;
    /* align-items: center; */
}

.mainbox3 input {
    padding: 2px;
    margin: 3px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid black;
    width: 6cm;
    height: 25px;
    background-color: #f0f0f0;
}

.mainbox3 label {
    width: 160px;
    display: inline-block;
    margin: 0.2cm;
    font-size: 16px;
    font-weight: bold;
}

.labels-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.labels-container label {
    text-align: center;
    margin: 0 10px;
}

.label-title {
    color: grey;
}

#chart-container {
    width: 70%;
    max-width: 400px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#yearDropdown {
    position: relative;
    top: 30px;
    left: 0;
    display: none;
}

.right-side {
    position: relative;
    background-color: white;
    padding: 20px;
    /* height: 90vh; */
    width: 70%; 
    box-shadow: 0px 0px 3px 0px #ccc;
    border-radius: 10px;
}

.round {
    position: absolute;
    top: 27%;
    left: 41%;
    transform: translate(-50%, -50%);
    width: 105px;
    height: 105px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.round span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#area-container {
    position: relative;
    margin: auto;
}

.chart-legend {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    /* margin-top: 40px; */
}

.chart-legend .label {
    font-weight: bold;
    color: grey;
    text-align: center;
}

.chart-legend .value {
    font-weight: bold;

}

.area-container {
    width: 100%;
}