*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    width: 100%;
    font-family: 'Times New Roman';
}
.unpaid-container{
    height: 100vh;
    width: 100%;
    position: absolute;
}
.unpaid-container-payment{
    /* height: 100vh; */
    width: 100%;
    /* background-color: red; */
    
}
.unpaid-container-btn{
    height: 50px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
}
.unpaid-container .csvBtn{
    /* color: red; */
    height: 40px;
    width: 70px;
    cursor: pointer;
    margin-right: 20px;

}
h3{
    text-align: center;
    font-size: 25px;
    
}
.unpaid-container table{
    /* height: 100vh; */
    width:97%;
    position: absolute;
    border-collapse: collapse;
    margin-left: 40px;
}

.unpaid-container table tr{
    border-bottom: 1px solid #a39f9f ;
}
.unpaid-container table td{
    padding: 0px;
    text-align: center;
    border-right: 1px solid #bdb8b8 ;
}
.unpaid-container table th{
    padding: 10px 10px;
    text-align: center;
    border-right: 1px solid #bdb8b8 ;
    background-color: #6b6060;
    color: white;
}
.unpaid-container table tr:nth-child(even){
    background-color: #eeeeee;
}
button.pay_btn{
    height: 40px;
    width: 60px;
    background-color: blue;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}


.unpaid-container table tbody tr td input{
    height:30px;
    width:100px;
    border:none;
    font-weight: bold;
    /* background-color:red; */
  }
  .border-active {
    border: 1px solid #3498db;
    outline: 1px solid #3498db
  }
  .unpaid-container table tbody tr td input{
    height:30px;
    width:100px;
    border:none;
    font-weight: bold;
    /* background-color:red; */
  }
    
  .unpaid-container button{
    height:20px;
    width: 50px;
    background-color:blue;
    color: #FFF;
    border-radius: 3px;
    transition: all 0.7s ease;
  }
  .unpaid-container table tbody tr td #check{
    height: 13px;
    width: 13px;
}
